/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
  outline: 0 !important; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  outline: 0 !important;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -kthtml-transition: all 1s;
  transition: all 1s; }
  a:hover, a:active, a:focus {
    outline: 0 !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -kthtml-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none; }

@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-LightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-RegItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-SemiboldItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-BoldItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-BoldIt.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Extrabold.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova-Black.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }
/**
 * Basic typography style for copy text
 */
body {
  font-family: "ProximaNova", sans-serif;
  font-size: 15px;
  font-weight: 200; }

h1 {
  margin: 0px;
  text-indent: -20px;
  font-size: 53px;
  font-weight: 100;
  line-height: 64px; }
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 30px;
      padding: 15px;
      text-indent: -5px;
      line-height: 40px; } }
  h1 strong {
    font-weight: 400; }
  h1.white {
    color: #fff; }

h2 {
  margin: 0px;
  font-size: 53px;
  color: #575757;
  font-weight: 100;
  line-height: 64px; }
  @media screen and (max-width: 991px) {
    h2 {
      font-size: 30px;
      padding: 10px;
      line-height: 40px; } }
  h2 strong {
    font-weight: 400; }
  h2.light {
    color: #858585; }

.author {
  padding-top: 10px;
  font-weight: 300;
  font-size: 15px;
  color: #fff; }
  @media screen and (max-width: 991px) {
    .author {
      padding-left: 10px; } }

h3 {
  font-weight: 300;
  font-size: 15px;
  color: #575757;
  line-height: 18px; }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 18px;
      line-height: 22px; } }

h4 {
  font-weight: 100;
  font-size: 30px;
  line-height: 42px; }
  h4 strong {
    font-weight: 300; }
  @media screen and (max-width: 768px) {
    h4 {
      font-size: 25px;
      line-height: 32px; } }

p {
  font-weight: 100;
  font-size: 15px;
  color: #353535;
  line-height: 22px; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 19px;
      line-height: 28px; } }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container-fluid {
  max-width: 960px;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.nopad {
  padding: 0px !important; }

.nopad-right {
  padding-right: 0px !important; }

@media screen and (min-width: 991px) {
  .nopad-pc {
    padding: 0px; } }

@media screen and (max-width: 991px) {
  .nopad-mobile {
    padding: 0px; } }

@media screen and (max-width: 991px) {
  .center-mobile {
    text-align: center; } }

.relative {
  position: relative; }

.mainbaner {
  background-image: url("../img/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .mainbaner {
      background-image: url("../img/background@2x.jpg"); } }

.teambaner {
  background-image: url("../img/team_baner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .teambaner {
      background-image: url("../img/team_baner@2x.jpg"); } }

.laserbaner {
  background-color: #ff686c;
  background-image: url("../img/laser_baner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .laserbaner {
      background-image: url("../img/laser_baner@2x.jpg"); } }

.huge-top {
  position: relative;
  height: 722px; }
  @media screen and (max-width: 768px) {
    .huge-top {
      min-height: auto; } }

.huge-top-schlafmedizin {
  position: relative; }

.go-down-position {
  position: absolute;
  left: 50%;
  bottom: -30px; }
  .go-down-position:hover .go-down {
    -webkit-box-shadow: 0px 0px 21px -9px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 0px 21px -9px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 21px -9px rgba(0, 0, 0, 0.42);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -kthtml-transition: all 0.5s;
    transition: all 0.5s; }

.down-border {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
  color: white; }
  @media screen and (min-width: 991px) {
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      padding-bottom: 20px; } }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff; }
.navbar-default .navbar-nav.grey-navbar li:last-child:not(active) a:hover {
    color: #ADADAD;
}
.go-down {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50px;
  position: relative;
  left: -50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -kthtml-transition: all 0.5s;
  transition: all 0.5s; }

#arrowdown {
  overflow: visible;
  padding-left: 20px;
  padding-top: 26px; }

.navbar-default {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -kthtml-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0px 15px;
  z-index: 99999999;
  width: 100%;
  position: absolute;
  top: 0;
  background: none;
  border: 0px;
  margin: 0px;
  margin-bottom: -67px;
  border-radius: 0px; }
  .navbar-default .navbar-toggle:not(.collapsed) .icon-bar {
    background-color: #40A2AC;
    height: 1px; }
    .navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
      display: none; }
    .navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: 12px; }
    .navbar-default .navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: -1px; }
  .navbar-default .navbar-nav .active > a {
    background: none;
    font-weight: 300;
    color: #fff; }
    .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:active, .navbar-default .navbar-nav .active > a:focus {
      background: none;
      color: #fff; }
      .navbar-default .navbar-nav.grey-navbar .active > a {
          background: none;
          font-weight: 300;
          color: #ADADAD!important;
      }
      .navbar-default .navbar-nav.grey-navbar > a {
          background: none;
          font-weight: 300;
          color: #ADADAD!important;
      }
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav.grey-navbar > li > a:focus {
    color: #ADADAD;
}
    @media screen and (min-width: 991px) {
      .navbar-default .navbar-nav .active > a::before {
        content: ' \25CF';
        font-size: 7px;
        position: absolute;
        top: 45px;
        left: 45%;
        opacity: 1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -kthtml-transition: all 0.3s;
        transition: all 0.3s; }
      .navbar-default .navbar-nav .active > a:hover {
        color: #fff; }
        .navbar-default .navbar-nav .active > a:hover::before {
          top: 15px;
          opacity: 0;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -kthtml-transition: all 0.3s;
          transition: all 0.3s; } }
  .navbar-default .navbar-nav li a {
    color: #fff;
    font-weight: 100;
    padding: 30px 29px 20px 30px; }
    @media screen and (max-width: 991px) {
      .navbar-default .navbar-nav li a {
        padding: 27px 29px;
        font-size: 30px; } }
    .navbar-default .navbar-nav li a:hover {
      color: #fff; }
    @media screen and (min-width: 991px) {
      .navbar-default .navbar-nav li a::before {
        content: ' \25CF';
        font-size: 7px;
        position: absolute;
        top: 15px;
        left: 45%;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -kthtml-transition: all 0.3s;
        transition: all 0.3s; }
      .navbar-default .navbar-nav li a:hover {
        color: #fff; }
        .navbar-default .navbar-nav li a:hover::before {
          content: ' \25CF';
          font-size: 7px;
          position: absolute;
          top: 45px;
          left: 45%;
          opacity: 1;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -kthtml-transition: all 0.3s;
          transition: all 0.3s; } }
  .navbar-default .navbar-nav li.dropdown .caret {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -kthtml-transition: all 0.2s;
    transition: all 0.2s; }
  .navbar-default .navbar-nav li.dropdown a {
    transition: none; }
  .navbar-default .navbar-nav li.dropdown .dropdown-menu a:before {
    content: " " !important; }
  .navbar-default .navbar-nav li.dropdown.open {
    position: static; }
    .navbar-default .navbar-nav li.dropdown.open a.dropdown-toggle {
      transition: none;
      border: 0px !important; }
      @media screen and (max-width: 991px) {
        .navbar-default .navbar-nav li.dropdown.open a.dropdown-toggle {
          font-weight: 300; } }
    .navbar-default .navbar-nav li.dropdown.open .caret {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -kthtml-transition: all 0.2s;
      transition: all 0.2s; }
    .navbar-default .navbar-nav li.dropdown.open .dropdown-menu {
      border-radius: 0px;
      border: 0px;
      display: table;
      width: 100%;
      left: 0;
      right: 0; }
      .navbar-default .navbar-nav li.dropdown.open .dropdown-menu li a {
        color: red; }
  .navbar-default .navbar-nav li:last-child:not(active) a {
    padding-right: 0px; }
    @media screen and (min-width: 991px) {
      .navbar-default .navbar-nav li:last-child:not(active) a::before {
        content: ' \25CF';
        font-size: 7px;
        position: absolute;
        top: 15px;
        left: 70%;
        opacity: 0; }
      .navbar-default .navbar-nav li:last-child:not(active) a:hover {
        color: #fff; }
        .navbar-default .navbar-nav li:last-child:not(active) a:hover::before {
          content: ' \25CF';
          font-size: 7px;
          position: absolute;
          top: 45px;
          left: 70%;
          opacity: 1;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -kthtml-transition: all 0.3s;
          transition: all 0.3s; } }
  @media screen and (min-width: 991px) {
    .navbar-default .navbar-nav li:last-child.active a::before {
      content: ' \25CF';
      font-size: 7px;
      position: absolute;
      top: 45px;
      left: 70%;
      color: #ADADAD;
      opacity: 1;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -kthtml-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-default .navbar-nav li:last-child.active a:hover {
      color: #ADADAD; }
      .navbar-default .navbar-nav li:last-child.active a:hover::before {
        content: ' \25CF';
        font-size: 7px;
        position: absolute;
        top: 15px;
        left: 70%;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -kthtml-transition: all 0.3s;
        transition: all 0.3s; } }
  .navbar-default .dark-navbar .active a {
    color: #9F3F45; }
    .navbar-default .dark-navbar .active a:hover {
      color: #9F3F45; }
  .navbar-default .dark-navbar li a {
    color: #9F3F45; }
    .navbar-default .dark-navbar li a:hover {
      color: #9F3F45 !important; }
  .navbar-default .grey-navbar .navbar-toggle .icon-bar {
    background-color: #ADADAD; }
  .navbar-default .grey-navbar .active a {
    color: #ADADAD; }
    .navbar-default .grey-navbar .active a:hover {
      color: #ADADAD; }
  .navbar-default .grey-navbar li a {
    color: #ADADAD; }
    .navbar-default .grey-navbar li a:hover {
      color: #ADADAD; }
  @media screen and (max-width: 991px) {
    .navbar-default .grey-navbar .navbar-toggle:not(.collapsed) .icon-bar {
      background-color: #40A2AC; }
    .navbar-default .grey-navbar .active a {
      color: #fff; }
      .navbar-default .grey-navbar .active a:hover {
        color: #fff; }
    .navbar-default .grey-navbar li a {
      color: #fff; }
      .navbar-default .grey-navbar li a:hover {
        color: #fff; } }
  .navbar-default .blue-navbar .navbar-toggle .icon-bar {
    background-color: #348790; }
  .navbar-default .blue-navbar .active a {
    color: #348790; }
    .navbar-default .blue-navbar .active a:hover {
      color: #348790; }
  .navbar-default .blue-navbar li a {
    color: #348790; }
    .navbar-default .blue-navbar li a:hover {
      color: #348790; }
  @media screen and (max-width: 991px) {
    .navbar-default .blue-navbar .navbar-toggle:not(.collapsed) .icon-bar {
      background-color: #40A2AC; }
    .navbar-default .blue-navbar .active a {
      color: #fff; }
      .navbar-default .blue-navbar .active a:hover {
        color: #fff; }
    .navbar-default .blue-navbar li a {
      color: #fff; }
      .navbar-default .blue-navbar li a:hover {
        color: #fff; } }
  .navbar-default .dropdown-menu {
    padding-top: 40px; }
    @media screen and (max-width: 991px) {
      .navbar-default .dropdown-menu {
        padding-top: 15px; } }
  .navbar-default .dropdown-header {
    color: #40A2AC;
    font-size: 20px;
    font-weight: 100; }
    @media screen and (max-width: 991px) {
      .navbar-default .dropdown-header {
        font-size: 15px;
        font-weight: 300;
        padding: 5px 0px !important; } }
  .navbar-default .dropdown-two-columns {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-top: 30px;
    margin-bottom: 20px; }
    .navbar-default .dropdown-two-columns li {
      line-height: 1.5em;
      float: left;
      display: inline;
      width: 50%;
      padding: 0px 10px; }
      .navbar-default .dropdown-two-columns li a {
        padding: 20px 0px;
        font-size: 12px;
        display: block;
        color: #FFF !important;
        font-weight: 300;
        border-bottom: 1px solid #5AD8E5; }
        .navbar-default .dropdown-two-columns li a:hover, .navbar-default .dropdown-two-columns li a:active, .navbar-default .dropdown-two-columns li a:focus {
          text-decoration: underline; }
    @media screen and (max-width: 991px) {
      .navbar-default .dropdown-two-columns {
        padding-top: 15px;
        padding-left: 0px; }
        .navbar-default .dropdown-two-columns li {
          padding-left: 0px;
          width: 100%; }
          .navbar-default .dropdown-two-columns li a {
            border-bottom: 0px;
            color: #40A2AC !important;
            font-size: 20px;
            position: relative;
            font-weight: 100; }
            .navbar-default .dropdown-two-columns li a::after {
              content: "";
              background: #5AD8E5;
              position: absolute;
              bottom: 0;
              left: 0;
              height: 1px;
              width: 100px; }
          .navbar-default .dropdown-two-columns li:last-child a::after {
            width: 100%; } }
  .navbar-default .dropdown-one-column {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-top: 30px;
    margin-bottom: 20px; }
    .navbar-default .dropdown-one-column.superlinks {
      padding-top: 10px; }
    .navbar-default .dropdown-one-column li {
      line-height: 1.5em;
      float: left;
      display: inline;
      width: 100%;
      padding: 0px 10px; }
      .navbar-default .dropdown-one-column li a {
        padding: 20px 0px;
        font-size: 12px;
        display: block;
        color: #FFF !important;
        font-weight: 300;
        border-bottom: 1px solid #5AD8E5; }
        .navbar-default .dropdown-one-column li a:hover, .navbar-default .dropdown-one-column li a:active, .navbar-default .dropdown-one-column li a:focus {
          text-decoration: underline; }
      .navbar-default .dropdown-one-column li.superlink {
        border-top: 1px solid #3cd9e7; }
        .navbar-default .dropdown-one-column li.superlink a {
          border-bottom: 0px;
          font-size: 20px;
          font-weight: 100;
          padding-top: 29px;
          padding-bottom: 29px;
          color: #40A2AC !important; }
          .navbar-default .dropdown-one-column li.superlink a:hover, .navbar-default .dropdown-one-column li.superlink a:active, .navbar-default .dropdown-one-column li.superlink a:focus {
            color: #2b6d74 !important;
            text-decoration: underline; }
      .navbar-default .dropdown-one-column li.superlink:nth-child(1) {
        border-top: 0px; }
        .navbar-default .dropdown-one-column li.superlink:nth-child(1) a {
          padding-top: 0px; }
    @media screen and (max-width: 991px) {
      .navbar-default .dropdown-one-column {
        padding-left: 0px;
        padding-top: 15px; }
        .navbar-default .dropdown-one-column li {
          padding-left: 0px; }
          .navbar-default .dropdown-one-column li a {
            border: 0px;
            color: #40A2AC !important;
            font-size: 20px;
            font-weight: 100;
            position: relative; }
            .navbar-default .dropdown-one-column li a:after {
              content: "";
              background: #5AD8E5;
              position: absolute;
              bottom: 0;
              left: 0;
              height: 1px;
              width: 100px; }
          .navbar-default .dropdown-one-column li:last-child a::after {
            width: 100%; } }
  .navbar-default .navbar-toggle {
    border: 0px;
    margin-top: 17px;
    margin-right: 0px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -kthtml-transition: all 0.5s;
    transition: all 0.5s; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
      background: none;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -kthtml-transition: all 0.5s;
      transition: all 0.5s;
      border: 0px; }
    .navbar-default .navbar-toggle:visited {
      border: 0px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -kthtml-transition: all 0.5s;
      transition: all 0.5s;
      background: none; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
      height: 4px;
      width: 31px;
      border-radius: 31px; }
      .navbar-default .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 6px; }

.navbar-brand img {
  height: 41px; }

#for-collapse {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -kthtml-transition: all 1s;
  transition: all 1s; }

@media screen and (max-width: 991px) {
  .navbar-nav {
    padding-bottom: 60px;
    position: relative; } }

.collapse-bg {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -kthtml-transition: all 0.5s;
  transition: all 0.5s; }
  @media screen and (max-width: 991px) {
    .collapse-bg {
      background: #64f0fe;
      background: -moz-linear-gradient(top, #64f0fe 0%, #64f0fe 72%, #46b8c4 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #64f0fe), color-stop(72%, #64f0fe), color-stop(100%, #46b8c4));
      background: -webkit-linear-gradient(top, #64f0fe 0%, #64f0fe 72%, #46b8c4 100%);
      background: -o-linear-gradient(top, #64f0fe 0%, #64f0fe 72%, #46b8c4 100%);
      background: -ms-linear-gradient(top, #64f0fe 0%, #64f0fe 72%, #46b8c4 100%);
      background: linear-gradient(to bottom, #64f0fe 0%, #64f0fe 72%, #46b8c4 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64f0fe', endColorstr='#46b8c4', GradientType=0 );
      height: 100%;
      position: fixed;
      overflow: scroll; }
      .collapse-bg .container-fluid {
        height: 100%;
        position: relative; }
      .collapse-bg .navbar-collapse {
        overflow: visible !important; } }
  @media screen and (min-width: 991px) {
    .collapse-bg {
      padding-bottom: 50px; } }

.navbar-collapse {
  border: 0px; }

@media screen and (max-width: 768px) {
  .gradient-top {
    background: -moz-linear-gradient(top, transparent 24%, rgba(0, 0, 0, 0.6) 62%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 24%, rgba(0, 0, 0, 0.6) 62%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 24%, rgba(0, 0, 0, 0.6) 62%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
    /* IE6-9 */ } }

@media screen and (max-width: 768px) {
  .quote {
    position: absolute;
    bottom: 100px; } }
.quote .white {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s; }
.quote .author {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay: 1.0s;
  -o-animation-delay: 1.0s;
  -ms-animation-delay: 1.0s; }

/* MENU ON HOVER */
@media (min-width: 979px) {
  ul.nav li.dropdown {
    position: static; }

  ul.nav li.dropdown > div.dropdown-menu {
    background: #64F0FE;
    border-radius: 0px;
    border: 0px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0; } }
.dropdown-arrow {
  float: right;
  position: relative; }

.left-dropdown-arrow {
  position: absolute;
  transform: rotate(-45deg);
  background: #40A2AC;
  display: block;
  top: 2px;
  height: 12px;
  width: 1px; }

.right-dropdown-arrow {
  position: absolute;
  top: 7px;
  right: -15px;
  transform: rotate(-45deg);
  background: #40A2AC;
  display: block;
  height: 1px;
  width: 12px; }

.dropdown-arrow-open .left-dropdown-arrow {
  height: 24px;
  top: 0px;
  right: -5px; }
.dropdown-arrow-open .right-dropdown-arrow {
  width: 24px;
  top: 11px;
  right: -17px; }

footer .big-foot {
  padding: 40px 0px; }
  footer .big-foot li {
    padding: 10px 60px 10px 0px; }
  footer .big-foot a {
    padding: 0px;
    color: #353535;
    font-size: 20px;
    font-weight: 300; }
    footer .big-foot a:hover {
      background: none;
      color: #828282; }
  @media screen and (max-width: 480px) {
    footer .big-foot li {
      padding: 10px 30px 10px 0px; } }
footer .small-foot {
  padding-bottom: 80px; }
  footer .small-foot li {
    padding: 10px 60px 10px 0px; }
  footer .small-foot a {
    padding: 0px;
    color: #353535;
    font-size: 10px;
    font-weight: 100; }
    footer .small-foot a:hover {
      background: none;
      color: #828282; }
  @media screen and (max-width: 991px) {
    footer .small-foot li {
      padding: 10px 30px 10px 0px; }
    footer .small-foot a {
      font-size: 15px; } }
@media screen and (max-width: 991px) {
  footer {
    padding: 0px 15px; } }

.btn-default, .btn-small-blue, .btn-blue, .btn-red, .btn-white, .btn-dark-blue {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -kthtml-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 40px;
  line-height: 1;
  font-weight: 100;
  background: none; }

.btn-default {
  border: 1px solid #9B9B9B;
  padding: 13px 30px;
  color: #9B9B9B;
  font-size: 12px; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    border: 1px solid #FF6972;
    background: #FF6972;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -kthtml-transition: all 0.3s;
    transition: all 0.3s; }

.btn-small-blue {
  border: 0px;
  background: #64F0FE;
  padding: 15px 50px;
  color: white;
  margin: 20px 0px;
  font-size: 12px; }
  .btn-small-blue:hover, .btn-small-blue:active, .btn-small-blue:focus {
    border: 0px;
    background: #FF6972;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -kthtml-transition: all 0.3s;
    transition: all 0.3s; }

.btn-blue {
  border: 5px solid rgba(0, 0, 0, 0.1);
  background: #64F0FE;
  padding: 19px 43px;
  color: #40A2AC;
  font-size: 20px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  .btn-blue svg {
    overflow: visible;
    padding-top: 2px;
    margin-right: 10px; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    border: 5px solid rgba(0, 0, 0, 0.1);
    background: #40A2AC;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #64F0FE;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -kthtml-transition: all 0.3s;
    transition: all 0.3s; }
  @media screen and (max-width: 768px) {
    .btn-blue {
      width: 100%;
      max-width: 260px; } }

.btn-red {
  border: 1px solid #FF6972;
  padding: 13px 30px;
  color: #FF6972;
  font-weight: 300;
  font-size: 12px; }
  .btn-red:hover, .btn-red:active, .btn-red:focus {
    border: 1px solid #FF6972;
    background: #FF6972;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -kthtml-transition: all 0.3s;
    transition: all 0.3s; }

.btn-white {
  border: 2px solid #FFFFFF;
  padding: 19px 30px;
  color: #fff;
  font-size: 20px; }
  .btn-white:hover, .btn-white:active, .btn-white:focus {
    border: 2px solid #FF6972;
    background: #FF6972;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -kthtml-transition: all 0.3s;
    transition: all 0.3s; }

.btn-dark-blue {
  border: 2px solid #40A2Ac;
  padding: 19px 30px;
  color: #40A2Ac;
  font-size: 20px; }
  .btn-dark-blue:hover, .btn-dark-blue:active, .btn-dark-blue:focus {
    border: 2px solid #FF6972;
    background: #FF6972;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -kthtml-transition: all 0.3s;
    transition: all 0.3s; }

.still-260 {
  text-align: center;
  width: 260px; }
  @media screen and (max-width: 768px) {
    .still-260 {
      width: auto; } }

.cta-buttons {
  right:0;
  top: 20px;
  height: 200px;
  position: fixed;
  z-index: 999; }

.cta-button {
  margin-top: 250px;
  background: #FF6972;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: inline;
  font-size: 12px;
  font-weight: 300;
  color: #9F3F45;
  padding: 11px 20px 16px 15px;
  position: absolute;
  right: -35px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  z-index: 999;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -kthtml-transition: all 0.3s;
  transition: all 0.3s; }
  .cta-button:hover {
    right: -31px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -kthtml-transition: all 0.3s;
    transition: all 0.3s; }
  @media screen and (max-height: 500px) {
    .cta-button {
      margin-top: 110px; } }
  .dark-cta .cta-button {
    background: #9F3F45;
    color: #FF6972; }

.cta-kontakt {
  margin-top: 360px;
  padding: 11px 32px 16px 32px; }
  @media screen and (max-height: 500px) {
    .cta-kontakt {
      margin-top: 220px; } }

.cta-mobile {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0; }
  .cta-mobile .cta-button {
    z-index: 9999999;
    width: 43%;
    margin-top: inherit;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    position: fixed;
    bottom: 0px;
    left: 30px;
    right: auto;
    margin: 0px 2.5%;
    text-align: center;
    font-size: 15px; }
  .cta-mobile .cta-kontakt {
    margin-top: inherit !important;
    bottom: 0px;
    width: 42%;
    left: 49%; }
  @media screen and (max-width: 480px) {
    .cta-mobile .cta-button {
      width: 41%; }
    .cta-mobile .cta-kontakt {
      width: 41%;
      left: 50%; } }
  @media screen and (max-width: 320px) {
    .cta-mobile .cta-button {
      width: 39%; }
    .cta-mobile .cta-kontakt {
      width: 39%;
      left: 50%; } }

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  /*height: 200px;*/
  list-style: none; }

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  /*width: 500px;*/
  /*height: 300px;*/
  text-align: center; }
  #slider ul li .single-doctor {
    padding: 0px 30px; }

button.control_prev, button.control_next {
  position: absolute;
  top: 30px;
  z-index: 999;
  display: block;
  width: auto;
  height: auto;
  background: #999999;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer; }

button.control_prev:hover, button.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

button.control_prev {
  padding: 15px 15px 15px 35px;
  left: -30px; }

button.control_next {
  padding: 15px 35px 15px 15px;
  right: -30px; }

.laser-grey button.control_prev, .laser-grey button.control_next {
  top: 120px; }
.laser-grey button {
  border: 4px solid #fff; }

.circle-chart {
  height: 132px;
  width: 132px;
  background: #C64F56;
  background-image: linear-gradient(to right, #C64F56 50%, #fff 0);
  border-radius: 200px;
  padding-top: 19px;
  margin-right: 30px;
  position: relative; }
  .circle-chart .inside {
    height: 93px;
    width: 93px;
    position: absolute;
    background: #FF6972;
    border-radius: 200px;
    z-index: 99;
    left: 19px;
    margin: auto;
    border: 4px solid #D85862;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-top: 21px; }
  .circle-chart::after {
    content: '';
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0px;
    left: 50%;
    width: 51%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left; }
  @media screen and (max-width: 991px) {
    .circle-chart {
      margin-bottom: 10px; } }

.circle-chart-white {
  width: 92px;
  height: 92px;
  padding-top: 11px;
  background: #F4F4F4;
  background-image: linear-gradient(to right, #F4F4F4 50%, #64F0FE 0); }
  .circle-chart-white .inside {
    height: 71px;
    width: 71px;
    font-size: 20px;
    left: 10px;
    background: #FFF;
    border: 4px solid #DDDDDD;
    color: #575757;
    padding-top: 17px; }
    .circle-chart-white .inside strong {
      font-weight: 300; }

.chart-60 {
  width: 92px;
  height: 92px;
  overflow: hidden;
  padding-top: 11px;
  background-image: linear-gradient(to right, #F4F4F4 50%, #64F0FE 0);
  position: relative; }
  .chart-60 .inside {
    height: 71px;
    width: 71px;
    font-size: 20px;
    left: 10px;
    background: #FFF;
    border: 4px solid #DDDDDD;
    color: #575757;
    padding-top: 17px; }
    .chart-60 .inside strong {
      font-weight: 300; }
  .chart-60::before {
    content: '';
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0px;
    left: 50%;
    width: 51%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: #F4F4F4;
    transform-origin: left;
    /*animation-delay: 1s;
    animation-name: piechart-60;
    animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;*/
    animation: piechart-60 1s ease;
    animation: piechart-disap 2s step-end; }
  .chart-60::after {
    content: '';
    position: absolute;
    z-index: 15;
    overflow: hidden;
    top: 0px;
    left: 50%;
    width: 51%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: #64F0FE;
    opacity: 0;
    transform: rotate(0.1turn);
    animation-name: piechart-cover;
    animation-duration: 2s;
    animation-timing-function: step-end;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

@keyframes piechart-disap {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes piechart-cover {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes piechart-5 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); } }
@keyframes piechart-5 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); } }
@-webkit-keyframes piechart-10 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); } }
@keyframes piechart-10 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); } }
@-webkit-keyframes piechart-15 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg); } }
@keyframes piechart-15 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg); } }
@-webkit-keyframes piechart-60 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg); } }
@keyframes piechart-60 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg); } }
.chart-5::after {
  animation-delay: 1s;
  animation-name: piechart-5;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards; }

.chart-15::after {
  animation-delay: 1s;
  animation-name: piechart-15;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards; }

.chart-10::after {
  animation-delay: 1s;
  animation-name: piechart-10;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: forwards; }

.google-maps {
  position: relative;
  overflow: hidden; }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

#map {
  width: 100%;
  height: 800px; }
  @media screen and (max-width: 991px) {
    #map {
      height: 400px; } }

.modal-dialog {
  width: 80%; }
  @media screen and (max-width: 991px) {
    .modal-dialog {
      width: 100%;
      margin: 0px; } }

.modal-content {
  background: none;
  border: none;
  box-shadow: none; }
  .modal-content .close {
    color: #fff;
    opacity: 0.8;
    font-size: 45px;
    font-weight: 100; }

.modal-header {
  border: 0px; }

.iframe-wraper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  .iframe-wraper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

h2 {
  opacity: 0; }

@media screen and (max-width: 991px) {
  .panels-3, .panels-6 {
    padding-top: 50px; }
    .panels-3 .col-md-4, .panels-6 .col-md-4 {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px; }
      .panels-3 .col-md-4 p, .panels-6 .col-md-4 p {
        text-align: left; } }

.panels-3 {
  padding-top: 110px; }
  @media screen and (max-width: 991px) {
    .panels-3 {
      padding-top: 20px; } }

.panel-icons {
  padding-bottom: 30px; }

.panel-border {
  border-left: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0; }
  @media screen and (max-width: 991px) {
    .panel-border {
      border-left: 0px;
      border-right: 0px;
      border-top: 1px solid #F0F0F0;
      border-bottom: 1px solid #F0F0F0; } }

.bigquote {
  margin-top: 115px;
  height: 800px;
  background-image: url("../img/backgroundbottom.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .bigquote {
      background-image: url("../img/backgroundbottom@2x.jpg"); } }
  @media screen and (max-width: 768px) {
    .bigquote {
      margin-top: 55px;
      height: 600px;
      background-size: cover;
      background-position: left -100px top; } }

.bigquote-gradient {
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */ }

.panels-6 {
  padding-top: 130px;
  padding-bottom: 110px; }
  .panels-6 h2 {
    padding-bottom: 50px; }
  @media screen and (min-width: 991px) {
    .panels-6 .txt-box {
      min-height: 215px; } }
  .panels-6 .col-md-4 {
    margin-bottom: 53px; }
    @media screen and (max-width: 991px) {
      .panels-6 .col-md-4 {
        margin-bottom: 0px; } }
  @media screen and (max-width: 991px) {
    .panels-6 .btn-default {
      margin-top: 15px; } }
  @media screen and (max-width: 991px) {
    .panels-6 {
      padding-top: 50px;
      padding-bottom: 50px; }
      .panels-6 h2 {
        padding-bottom: 0px; }
      .panels-6 .col-md-4 {
        text-align: left; } }

@media screen and (max-width: 991px) {
  .panel-top-border {
    border-top: 1px solid #F0F0F0; } }

.video {
  background-position: center center;
  background-repeat: no-repeat;
  height: 750px;
  text-align: center; }

.video-index {
  background-image: url("../img/video.jpg");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .video-index {
      background-image: url("../img/video@2x.jpg"); } }

.video-kopfschmerzen {
  background-image: url("../img/video2.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .video-kopfschmerzen {
      background-image: url("../img/video2@2x.png"); } }

.red-panel {
  background: #FF6972;
  padding: 70px 0px; }
  .red-panel h2 {
    font-size: 53px;
    color: #9F3F45;
    font-weight: 100; }
  .red-panel h3 {
    font-size: 15px;
    color: #9F3F45;
    font-weight: 300; }
  .red-panel ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .red-panel ul li {
      padding: 30px 0px; }
      .red-panel ul li + li {
        border-top: 1px solid #E65F68; }
    .red-panel ul a {
      font-size: 30px;
      color: #9F3F45;
      font-weight: 100; }
      .red-panel ul a:hover {
        color: #68292d; }
  .red-panel .white-big-txt {
    font-size: 30px;
    color: #fff;
    font-weight: 300; }
  .red-panel .timetable {
    color: #9F3F45;
    line-height: 22px;
    padding-top: 20px; }
    .red-panel .timetable strong {
      font-weight: 400; }
  .red-panel .left {
    padding-right: 30px;
    float: left;
    display: inline; }
  .red-panel .number {
    color: #9F3F45;
    font-size: 20px;
    font-weight: 100;
    height: 37px;
    width: 37px;
    border: 1px solid #9F3F45;
    border-radius: 50px;
    line-height: 1px;
    text-align: center;
    padding-top: 17px; }
  .red-panel .red-6-panels p {
    padding: 40px 0px;
    color: #fff;
    font-size: 20px;
    line-height: 28px; }
  @media screen and (max-width: 768px) {
    .red-panel .red-6-panels {
      margin-top: 50px; }
      .red-panel .red-6-panels p {
        padding: 20px 0px 30px 0px; } }
  @media screen and (max-width: 768px) {
    .red-panel .red-6-panels:first-child {
      margin-top: 20px; } }
  .red-panel .red-6-panels:last-child {
    border: 0px; }
  .red-panel .red-6-panels:nth-child(4n+2) {
    border-left: 1px solid #E65F68;
    border-right: 1px solid #E65F68;
    margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .red-panel .red-count {
      padding-bottom: 0px; } }
  @media screen and (max-width: 991px) {
    .red-panel {
      padding: 40px 0px; }
      .red-panel .col-md-7 {
        padding: 0px 30px; }
      .red-panel .col-md-4 {
        padding: 0px 30px; } }

.dark-red-panel {
  background: #C64F56;
  padding: 14px 0px; }

.blue-panel {
  background: #64F0FE;
  border-bottom: 5px solid #52CBD7;
  padding: 75px 0px; }
  .blue-panel .btn {
    margin-right: 30px; }
  .blue-panel h2 {
    color: #40A2Ac;
    font-weight: 100; }
    @media screen and (max-width: 768px) {
      .blue-panel h2 {
        padding: 0px; } }
  .blue-panel p {
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 28px;
    color: #40A2Ac; }
  @media screen and (max-width: 768px) {
    .blue-panel .blue-buttons .btn {
      display: block;
      margin: auto;
      width: 80%;
      margin-top: 10px;
      margin-bottom: 10px; } }
  @media screen and (max-width: 468px) {
    .blue-panel .blue-buttons .btn {
      display: block;
      margin: auto;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px; } }

@media screen and (max-width: 991px) {
  .separate-red {
    border-bottom: 5px solid #E65F68; } }

.main-doctor {
  padding-top: 80px; }
  .main-doctor img {
    border: 5px solid #EDEDED;
    max-height: 160px; }
  .main-doctor .quote-svg {
    height: 100%; }
    @media screen and (min-width: 991px) {
      .main-doctor .quote-svg {
        float: left; } }
  .main-doctor .doctor-quote {
    float: left; }
  .main-doctor .gradient-hr {
    margin-top: 80px;
    width: 100%;
    height: 1px;
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(left, white 0%, #e3e3e3 50%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, white 0%, #e3e3e3 50%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, white 0%, #e3e3e3 50%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */ }
    @media screen and (max-width: 991px) {
      .main-doctor .gradient-hr {
        margin-top: 40px; } }
  .main-doctor .horizontal-flip {
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1); }
  @media screen and (max-width: 991px) {
    .main-doctor .rotate {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg); } }
  .main-doctor h4 {
    padding-bottom: 30px; }
    @media screen and (max-width: 991px) {
      .main-doctor h4 {
        text-align: left; } }
  @media screen and (max-width: 991px) {
    .main-doctor p {
      text-align: left; } }
  @media screen and (max-width: 991px) {
    .main-doctor {
      padding-top: 40px; } }

.other-doctors {
  padding-top: 60px;
  padding-bottom: 20px; }
  .other-doctors .single-doctor {
    padding: 40px 0px; }
  .other-doctors img {
    border: 3px solid #EDEDED;
    max-height: 120px; }
  .other-doctors h3 {
    padding-bottom: 15px; }
  .other-doctors p {
    font-size: 12px;
    width: 80%; }
  @media screen and (max-width: 991px) {
    .other-doctors {
      padding: 40px 15px 0px 15px;
      text-align: center; }
      .other-doctors img {
        display: block;
        margin: auto; }
      .other-doctors p {
        width: 100%;
        text-align: left;
        font-size: 20px; } }

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1); }

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%; }

.carousel-inner.schlafmedizin .item {
  border-bottom: 4px solid #43A7B1;
  background: #43efff;
  background: -moz-linear-gradient(top, #43efff 0%, #38c8d5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #43efff), color-stop(100%, #38c8d5));
  background: -webkit-linear-gradient(top, #43efff 0%, #38c8d5 100%);
  background: -o-linear-gradient(top, #43efff 0%, #38c8d5 100%);
  background: -ms-linear-gradient(top, #43efff 0%, #38c8d5 100%);
  background: linear-gradient(to bottom, #43efff 0%, #38c8d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43efff', endColorstr='#38c8d5', GradientType=0 ); }

.carousel, .item, .carousel-inner, .fill {
  height: 100%; }

.fill {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat; }

.carousel-indicators {
  bottom: 40px; }
  .carousel-indicators li.active {
    background: #FF6972;
    border-color: #FF6972;
    width: 10px;
    height: 10px;
    margin: 0px 1px 1px 1px !important; }
  .carousel-indicators.schlafmedizin li.active {
    background: white;
    border-color: white; }

.panel-2-columns {
  padding-top: 80px;
  padding-bottom: 80px; }
  .panel-2-columns h2 {
    padding: 0px;
    padding-bottom: 60px; }
  .panel-2-columns h4 {
    color: #575757; }
  .panel-2-columns ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 50%;
    float: left;
    font-color: #575757;
    font-weight: 100;
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 40px; }
    .panel-2-columns ul.left {
      padding-right: 15px; }
    .panel-2-columns ul.right {
      padding-left: 15px; }
    @media screen and (max-width: 768px) {
      .panel-2-columns ul {
        width: 100%; }
        .panel-2-columns ul.left, .panel-2-columns ul.right {
          padding: 0px; }
        .panel-2-columns ul.right {
          padding-bottom: 40px; } }
  .panel-2-columns li {
    padding: 15px 0px;
    border-bottom: 1px solid #F0F0F0; }
  @media screen and (max-width: 768px) {
    .panel-2-columns {
      padding-top: 40px;
      padding-bottom: 40px; }
      .panel-2-columns h2 {
        padding-bottom: 20px; }
      .panel-2-columns ul {
        font-size: 20px; } }

.philosophy, .philosophy-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .philosophy h2, .philosophy-2 h2 {
    color: #fff; }
  .philosophy .testimony, .philosophy-2 .testimony {
    position: absolute;
    padding: 0px 15px;
    bottom: 70px; }
    @media screen and (max-width: 480px) {
      .philosophy .testimony, .philosophy-2 .testimony {
        bottom: 70px; } }
  .philosophy .white, .philosophy-2 .white {
    text-indent: -20px; }
    @media screen and (max-width: 768px) {
      .philosophy .white, .philosophy-2 .white {
        text-indent: -5px; } }
  .philosophy .author, .philosophy-2 .author {
    font-weight: 100; }
    .philosophy .author strong, .philosophy-2 .author strong {
      font-weight: 300; }
  @media screen and (max-width: 480px) {
    .philosophy, .philosophy-2 {
      background-position: center bottom; } }

.testimony-up {
  height: 752px;
  position: relative; }
  @media screen and (max-width: 991px) {
    .testimony-up {
      height: 600px; } }
  @media screen and (max-width: 480px) {
    .testimony-up {
      height: 650px; } }
  @media screen and (max-width: 340px) {
    .testimony-up {
      height: 600px; } }

.philosophy {
  position: relative;
  background-image: url("../img/philosophie_testimony.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .philosophy {
      background-image: url("../img/philosophie_testimony@2x.jpg"); } }

.philosophy-2 {
  position: relative;
  background-image: url("../img/philosophie_testimony_2.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .philosophy-2 {
      background-image: url("../img/philosophie_testimony_2@2x.jpg"); } }
  .philosophy-2 .testimony {
    bottom: 130px; }
    @media screen and (max-width: 768px) {
      .philosophy-2 .testimony {
        bottom: 50px; } }
  .philosophy-2 .white {
    text-indent: 0; }

.red-panel .boxs {
  padding-top: 30px; }
@media screen and (max-width: 768px) {
  .red-panel .boxs {
    padding-top: 0px; }
  .red-panel h2 {
    font-size: 30px;
    font-weight: 100; } }

@media screen and (max-width: 768px) {
  .red-6-panels {
    border-bottom: 1px solid #E65F68; } }

.paragraphs {
  padding-top: 60px;
  padding-bottom: 90px; }
  .paragraphs h2 {
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-weight: 100; }
  .paragraphs p {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 20px;
    font-weight: 100; }
    .paragraphs p strong {
      font-weight: 300; }
  @media screen and (max-width: 768px) {
    .paragraphs {
      padding-top: 0px; }
      .paragraphs p {
        padding: 0px; }
      .paragraphs h2 {
        padding: 30px 0px 30px 0px; } }

.laser-photo {
  margin-top: 210px;
  text-align: center;
  position: relative; }
  .laser-photo img {
    padding-top: 5px;
    margin-left: -7px;
    position: absolute;
    top: 24px;
    z-index: 999;
    width: 112px; }
  @media screen and (min-width: 991px) {
    .laser-photo {
      height: 512px; } }
  @media screen and (max-width: 991px) {
    .laser-photo {
      text-align: left;
      padding-top: 0px;
      margin-top: 150px; }
      .laser-photo img {
        position: absolute;
        margin-left: -76px;
        top: 70px; } }

.dot {
  width: 50%;
  float: right;
  position: relative;
  height: 25px;
  border-radius: 14px; }

.dot-top {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px; }
  .dot-top::after {
    content: '\2219';
    font-size: 40px;
    position: absolute;
    line-height: 1;
    top: -22px;
    right: -2px; }
  @media screen and (max-width: 991px) {
    .dot-top {
      display: block;
      width: 150%;
      float: none;
      margin-left: -20px;
      height: 300px; }
      .dot-top::after {
        right: -7px; } }

.dot-bottom {
  height: 80px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px; }
  .dot-bottom::after {
    content: '\2219';
    font-size: 40px;
    position: absolute;
    line-height: 1;
    bottom: -19px;
    right: -2px; }

@media screen and (max-width: 991px) {
  .laser-white .dot-bottom {
    display: block;
    width: 130%;
    float: none;
    margin-left: -20px;
    height: 90px; }
    .laser-white .dot-bottom::after {
      right: -7px; } }

.dot-white {
  border-left: 1px dashed #fff;
  border-top: 1px dashed #fff; }
  .dot-white::after {
    color: #fff; }

.dot-grey {
  border-left: 1px dashed #979797;
  border-bottom: 1px dashed #979797; }
  .dot-grey::after {
    color: #979797; }

.dot-long {
  border: 0px;
  border-radius: 0px;
  border-left: 1px dashed #979797; }
  .dot-long::after {
    content: ' '; }
  @media screen and (max-width: 991px) {
    .dot-long {
      min-height: 440px; } }

.laserbaner {
  height: auto; }
  .laserbaner h2 {
    padding-top: 190px;
    line-height: 43px;
    margin: 0px;
    font-size: 36px;
    color: #fff;
    font-weight: 100;
    padding-bottom: 50px; }
  .laserbaner p {
    font-size: 20px;
    color: #9F3F45;
    padding-top: 15px;
    font-weight: 200;
    padding-left: 15px; }
  @media screen and (max-width: 991px) {
    .laserbaner h2 {
      padding-top: 130px;
      font-size: 27px;
      padding-bottom: 25px; }
    .laserbaner p {
      padding-left: 0px;
      font-size: 15px;
      padding-bottom: 30px; } }

.laser-white {
  padding-top: 100px;
  padding-bottom: 60px;
  color: #575757; }
  .laser-white p {
    padding-top: 15px;
    font-size: 20px;
    color: #A59F9F;
    line-height: 31px; }
  .laser-white .dash-text {
    position: relative;
    margin-top: -40px; }
    .laser-white .dash-text .dot {
      margin-top: 0px; }
    .laser-white .dash-text h4 {
      margin-top: 60px; }
  @media screen and (max-width: 991px) {
    .laser-white {
      padding-bottom: 30px; }
      .laser-white .dash-text h4 {
        font-size: 20px;
        margin-top: 75px; }
      .laser-white .first-dash-text {
        margin: 0px; } }
  @media screen and (max-width: 768px) {
    .laser-white {
      padding-top: 40px; }
      .laser-white .first-dash-text .dot-bottom {
        height: 30px; }
      .laser-white .first-dash-text h4 {
        margin-top: 15px; } }
  @media screen and (max-width: 480px) {
    .laser-white .first-dash-text {
      padding-bottom: 30px; }
    .laser-white .dash-text:not(.first-dash-text) {
      margin-top: -80px; } }

.laser-grey {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f7f7f7), color-stop(50%, white), color-stop(81%, white), color-stop(99%, rgba(156, 156, 156, 0.1)), color-stop(100%, rgba(150, 150, 150, 0.1)));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#969696', GradientType=0 ); }
  .laser-grey .doctor {
    position: absolute;
    left: -40px;
    bottom: 0;
    width: 60%;
    max-width: 512px; }
    @media screen and (max-width: 991px) {
      .laser-grey .doctor {
        width: 45%; } }
    @media screen and (max-width: 768px) {
      .laser-grey .doctor {
        max-width: 200px; } }
    @media screen and (max-width: 480px) {
      .laser-grey .doctor {
        max-width: 170px; } }
  .laser-grey h4 {
    padding-bottom: 60px;
    color: #575757;
    font-weight: 100; }
  .laser-grey .blue-box {
    padding-bottom: 50px; }
    .laser-grey .blue-box .blue-box-inside {
      background: #F6F6F6;
      padding: 0px;
      padding-top: 30px; }
    .laser-grey .blue-box .name {
      color: #57D4E1;
      font-weight: 400; }
    .laser-grey .blue-box .size {
      font-size: 12px;
      color: #575757; }
    .laser-grey .blue-box .grey-part {
      padding: 0px 15px;
      height: 92px; }
    .laser-grey .blue-box .blue-part {
      padding: 20px 15px;
      background-color: #64F0FE;
      border-top: 4px solid #5CE2EF;
      position: relative; }
      .laser-grey .blue-box .blue-part p {
        font-size: 12px;
        color: #3F97A0;
        z-index: 2;
        position: relative;
        min-height: 90px; }
      .laser-grey .blue-box .blue-part button {
        font-size: 12px;
        padding: 10px 20px;
        border: 1px solid;
        z-index: 2;
        position: relative; }
        .laser-grey .blue-box .blue-part button:hover {
          border: 1px solid #FF6972; }
      .laser-grey .blue-box .blue-part::before {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        border-bottom: 25px solid white;
        border-left: 25px solid #64F0FE;
        width: 0; }
    @media screen and (max-width: 768px) {
      .laser-grey .blue-box .grey-part {
        height: 120px;
        padding-left: 30px;
        padding-right: 30px; }
        .laser-grey .blue-box .grey-part .name, .laser-grey .blue-box .grey-part .size {
          text-align: left;
          font-size: 20px; }
      .laser-grey .blue-box .blue-part {
        padding-left: 30px;
        padding-right: 30px;
        text-align: left; }
        .laser-grey .blue-box .blue-part p {
          height: 142px;
          font-size: 20px;
          text-align: left; } }
    @media screen and (max-width: 320px) {
      .laser-grey .blue-box .grey-part {
        height: 140px; }
      .laser-grey .blue-box .blue-part p {
        height: 160px; } }

.doctor-quote h4 {
  font-size: 36px;
  line-height: 60px;
  font-weight: 100;
  text-indent: -12px;
  margin-bottom: 0px;
  padding-bottom: 15px; }
.doctor-quote span {
  color: #CACACA; }
.doctor-quote p {
  padding-left: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #BABABA; }
@media screen and (max-width: 768px) {
  .doctor-quote h4 {
    font-size: 20px;
    line-height: 30px;
    text-indent: -5px;
    padding-top: 110px; }
  .doctor-quote p {
    padding-bottom: 110px; } }
@media screen and (max-width: 480px) {
  .doctor-quote h4 {
    padding-top: 20px; }
  .doctor-quote p {
    padding-bottom: 20px; } }

.laser-list h3 {
  padding-top: 20px;
  color: #A59F9F;
  font-size: 20px;
  font-weight: 100;
  line-height: 31px; }
.laser-list ul {
  list-style: none;
  margin: 0px;
  padding: 20px 0px 70px 0px; }
.laser-list li {
  font-size: 15px;
  font-weight: 100;
  color: #575757;
  padding: 20px 0px;
  border-bottom: 1px solid #F0F0F0; }
@media screen and (max-width: 768px) {
  .laser-list {
    padding: 0px 30px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f7f7f7), color-stop(50%, white), color-stop(81%, white), color-stop(99%, rgba(156, 156, 156, 0.1)), color-stop(100%, rgba(150, 150, 150, 0.1)));
    background: -webkit-linear-gradient(top, white 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
    background: -o-linear-gradient(top, white 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
    background: -ms-linear-gradient(top, white 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
    background: linear-gradient(to bottom, white 0%, white 50%, white 81%, rgba(156, 156, 156, 0.1) 99%, rgba(150, 150, 150, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#969696', GradientType=0 ); }
    .laser-list li {
      font-size: 20px; } }

.laser-bottom {
  padding: 100px 0px; }
  .laser-bottom h4 {
    color: #575757;
    padding: 40px 0px;
    line-height: 42px;
    font-weight: 100; }
  .laser-bottom p {
    font-size: 20px;
    color: #575757;
    padding: 15px 0px;
    line-height: 30px; }
  .laser-bottom button {
    margin-top: 15px; }
  @media screen and (max-width: 768px) {
    .laser-bottom {
      padding: 60px 0px; }
      .laser-bottom h2 {
        padding: 0px;
        margin: 0px; }
      .laser-bottom p {
        font-size: 20px; } }

.news-all {
  padding-top: 140px; }
  .news-all article {
    padding: 70px 0px;
    border-bottom: 1px solid #F0F0F0; }

.news-head {
  position: relative;
  margin-bottom: 30px; }

.news-date {
  position: absolute;
  right: 0px;
  color: #575757;
  bottom: 10px; }

.news-content p {
  font-size: 20px;
  line-height: 35px;
  color: #575757;
  padding: 0px 0px 30px 0px; }

.big .news-content p {
  font-size: 20px;
  line-height: 35px;
  color: #575757;
  padding: 30px 0px; }

@media screen and (max-width: 991px) {
  .news-all {
    padding-top: 70px; }
    .news-all article {
      padding: 35px 0px; }

  .news-head {
    padding: 0px 15px; }

  .news-date {
    right: 15px; }

  .news-img {
    padding: 0px 0px; }

  .news-content {
    padding: 0px 30px; } }
@media screen and (max-width: 768px) {
  .news-date {
    position: static;
    padding: 10px 30px 0px 30px;
    text-align: left; }

  .news-head {
    padding: 0px; } }
.kontakt-all {
  padding-top: 140px;
  padding-bottom: 140px; }

.small-text-paragraphs {
  padding-top: 25px;
  padding-bottom: 40px; }
  .small-text-paragraphs img {
    padding-bottom: 15px; }
  .small-text-paragraphs p {
    font-size: 15px;
    color: #575757;
    padding-left: 46px; }
    .small-text-paragraphs p a {
      color: #575757;
      text-decoration: underline; }
  @media screen and (max-width: 991px) {
    .small-text-paragraphs p {
      padding-left: 15px; } }

.kontakt h4 {
  color: #575757; }
.kontakt p {
  font-size: 15px;
  color: #575757; }
  .kontakt p strong {
    font-weight: 300; }

.right-kontakt {
  padding-left: 50px;
  border-left: 1px solid #F0F0F0; }
  .right-kontakt select {
    -webkit-appearance: none;
    background: url(../img/arrow.png) no-repeat center right 20px #F5F5F5;
    height: 50px;
    margin-bottom: 20px; }
  .right-kontakt .form-control {
    border: 1px solid #D0D0D0;
    font-size: 15px;
    padding: 14px; }
    .right-kontakt .form-control:hover, .right-kontakt .form-control:active, .right-kontakt .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #D0D0D0; }
  .right-kontakt textarea {
    -webkit-box-shadow: none;
    background: #F5F5F5; }
  @media screen and (max-width: 991px) {
    .right-kontakt {
      padding-left: 15px;
      border: 0px; } }

.left-kontakt-panels {
  float: left;
  color: #575757;
  padding-top: 16px;
  line-height: 100%;
  padding-bottom: 16px;
  padding-right: 20px; }
  .left-kontakt-panels strong {
    font-weight: 300; }
  .left-kontakt-panels embed {
    padding-right: 15px; }
  .left-kontakt-panels.phones {
    color: #858585; }
  .left-kontakt-panels a {
    color: #858585;
    text-decoration: underline; }

.sprechzeiten-logo {
  max-width: 137px; }

.leistungen {
  padding-top: 180px;
  padding-bottom: 80px;
  padding-left: 0px; }
  .leistungen header {
    padding-bottom: 50px; }
  .leistungen p {
    font-size: 20px;
    color: #575757;
    line-height: 30px; }
    .leistungen p strong {
      font-weight: 300; }
  .leistungen h2, .leistungen h3, .leistungen h4 {
    color: #575757; }
  @media screen and (max-width: 991px) {
    .leistungen {
      padding-top: 100px;
      padding-left: 15px;
      padding-right: 15px; }
      .leistungen h2 {
        padding: 10px 0px; }
      .leistungen .panel-separation {
        padding: 20px 15px; } }

.panel-separation {
  padding: 30px 15px; }

.leistungen-next {
  padding-top: 60px;
  padding-bottom: 40px; }
  .leistungen-next p {
    font-size: 20px;
    color: #575757;
    line-height: 30px; }
    .leistungen-next p strong {
      font-weight: 300; }

.grey-bg {
  margin-top: 60px;
  margin-bottom: 80px;
  background: #F3F3F3;
  padding: 30px 50px 30px 30px;
  margin-left: -15px;
  margin-right: -15px; }
  @media screen and (max-width: 991px) {
    .grey-bg {
      margin-bottom: 0px; } }

.three-panels {
  padding: 40px 0px 0px 0px; }
  .three-panels h3 {
    min-height: 65px;
    line-height: 22px;
    display: block; }
    @media screen and (max-width: 991px) {
      .three-panels h3 {
        font-size: 20px; } }
  .three-panels p {
    font-size: 15px;
    line-height: 22px;
    width: 95%;
    padding-bottom: 20px; }
    @media screen and (max-width: 991px) {
      .three-panels p {
        font-size: 20px; } }
  @media screen and (max-width: 991px) {
    .three-panels {
      padding: 20px 0px 0px 0px; }
      .three-panels h3 {
        min-height: 0;
        line-height: 22px;
        padding-bottom: 20px; } }

.six-panels {
  padding: 60px 0px 15px 0px; }
  .six-panels h3 {
    min-height: 65px;
    line-height: 22px;
    display: block; }
    @media screen and (max-width: 991px) {
      .six-panels h3 {
        font-size: 20px; } }
  .six-panels p {
    font-size: 15px;
    line-height: 22px;
    width: 95%;
    padding-bottom: 40px; }
    @media screen and (max-width: 991px) {
      .six-panels p {
        font-size: 20px; } }
  @media screen and (max-width: 991px) {
    .six-panels .col-md-4 {
      border-top: 1px solid #F0F0F0;
      border-bottom: 1px solid #F0F0F0; }
    .six-panels .col-md-4 + .col-md-4 {
      border-top: 0px; }
    .six-panels .clearfix + .col-md-4 {
      border-top: 0px; } }

.six-panels-buttons p {
  padding-bottom: 10px; }
.six-panels-buttons p:not(title) {
  min-height: 145px; }
.six-panels-buttons .btn-default {
  margin-bottom: 40px; }
@media screen and (max-width: 991px) {
  .six-panels-buttons p:not(title) {
    min-height: 0px; } }

.six-panels-buttons-categories p {
  padding-bottom: 10px; }
.six-panels-buttons-categories p:not(title) {
  min-height: 145px; }
.six-panels-buttons-categories h3 {
  min-height: 35px; }
.six-panels-buttons-categories .btn-default {
  margin-bottom: 40px; }
@media screen and (max-width: 991px) {
  .six-panels-buttons-categories p:not(title) {
    min-height: 0px; } }

.vorgehensweise {
  padding-top: 30px;
  padding-bottom: 50px; }

.verschiedene {
  padding-top: 15px;
  padding-bottom: 50px; }

.vorgehen {
  padding-top: 35px;
  padding-bottom: 50px; }

.typische {
  padding-top: 80px;
  padding-bottom: 40px; }

.therapie {
  padding-top: 30px;
  padding-bottom: 90px; }
  @media screen and (max-width: 991px) {
    .therapie {
      padding-top: 0px;
      padding-bottom: 60px; } }

.wie-wird {
  padding-top: 10px;
  padding-bottom: 60px; }

.konsenspapier {
  padding-top: 100px; }

.op-mikroskop {
  padding-top: 40px;
  padding-bottom: 20px; }

.wie-verlauft {
  padding-top: 100px;
  padding-bottom: 50px; }
  @media screen and (max-width: 991px) {
    .wie-verlauft {
      padding-top: 30px;
      padding-bottom: 30px; } }

.circles-ul, .circles-ul p {
  color: #575757; }
  .circles-ul .dot, .circles-ul p .dot {
    margin-top: 10px;
    width: 1px;
    right: 45%; }
  .circles-ul .dot-grey, .circles-ul p .dot-grey {
    border-color: #D7D7D7; }
  .circles-ul .dot-bottom:after, .circles-ul p .dot-bottom:after {
    right: -4px;
    color: #D7D7D7; }
  .circles-ul ul, .circles-ul p ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    list-style: none; }
    .circles-ul ul li, .circles-ul p ul li {
      font-weight: 100;
      font-size: 15px; }
      .circles-ul ul li:before, .circles-ul p ul li:before {
        content: '\2219';
        font-size: 40px;
        line-height: 14px;
        display: inline-block;
        height: 15px;
        padding-top: 1px;
        width: 2.5rem;
        overflow: hidden; }
  .circles-ul .circles-li, .circles-ul p .circles-li {
    margin-top: 20px; }
  .circles-ul .with-ul p, .circles-ul p .with-ul p {
    width: 70%; }
  @media screen and (max-width: 768px) {
    .circles-ul .with-ul p, .circles-ul p .with-ul p {
      width: 100%; } }

.dot-bottom-longer {
  height: 100px; }
  @media screen and (max-width: 480px) {
    .dot-bottom-longer {
      height: 200px; } }

.dot-bottom-long {
  height: 200px; }
  @media screen and (max-width: 480px) {
    .dot-bottom-long {
      height: 330px; } }

.for-numb-circ {
  padding-right: 40px;
  float: left;
  padding-left: 0px; }
  @media screen and (max-width: 768px) {
    .for-numb-circ {
      padding-right: 0px; } }

.number-circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: #575757;
  vertical-align: middle;
  display: table-cell; }

.number-text {
  padding-top: 7px; }
  .number-text p {
    font-size: 15px;
    line-height: 22px; }
  .number-text .title {
    font-size: 20px; }
  @media screen and (max-width: 991px) {
    .number-text {
      padding-top: 0px; } }

.full-size-photo {
  width: 100%;
  height: 800px;
  position: relative;
  background-position: center right; }
  @media screen and (max-width: 991px) {
    .full-size-photo {
      height: 500px; } }

#f-s-p-1 {
  background-image: url("../img/bleaching1.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    #f-s-p-1 {
      background-image: url("../img/bleaching1@2x.png"); } }

#f-s-p-2 {
  background-image: url("../img/zahnfleischbluten.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    #f-s-p-2 {
      background-image: url("../img/zahnfleischbluten@2x.png"); } }

#f-s-p-3 {
  background-image: url("../img/wurzelkanal.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    #f-s-p-3 {
      background-image: url("../img/wurzelkanal@2x.png"); } }

#f-s-p-4 {
  background-image: url("../img/implantate.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    #f-s-p-4 {
      background-image: url("../img/implantate@2x.png"); } }

#f-s-p-5 {
  background-image: url("../img/cerec.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    #f-s-p-5 {
      background-image: url("../img/cerec@2x.png"); } }

#f-s-p-6 {
  background-image: url("../img/prophylaxe.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    #f-s-p-6 {
      background-image: url("../img/prophylaxe@2x.png"); } }

#f-s-p-7 {
  background-image: url("../img/leistungen.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    #f-s-p-7 {
      background-image: url("../img/leistungen@2x.png"); } }

.paragraph-h4-panels h4 {
  padding-top: 30px;
  padding-bottom: 20px; }
.paragraph-h4-panels p {
  padding-bottom: 40px; }

.chart {
  padding: 20px 0px; }

.chart-img {
  height: 92px;
  width: 142px;
  padding-right: 50px;
  padding-left: 0px;
  text-align: left; }

.charts {
  margin-bottom: 50px; }

.points-3 {
  padding-top: 30px;
  padding-bottom: 60px; }
  @media screen and (max-width: 991px) {
    .points-3 {
      padding-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .points-3 {
      padding-bottom: 0px; } }

.circles-bottom-padding {
  padding-bottom: 60px; }

span.underline {
  border-bottom: 1px solid #575757; }

.quote-p {
  padding-left: 50px; }
  .quote-p .quote-p-p {
    border-left: 4px solid #575757; }
  .quote-p p {
    padding-left: 20px;
    font-style: italic;
    margin-left: 20px; }
  @media screen and (max-width: 991px) {
    .quote-p {
      padding-left: 15px; }
      .quote-p p {
        padding-left: 10px; } }

.panel-border-right {
  border-right: 1px solid #F0F0F0; }

.leistungen-cat {
  padding-bottom: 60px; }
  .leistungen-cat .panel-separation {
    padding: 15px; }
  .leistungen-cat h2 {
    color: #858585; }
  .leistungen-cat h4 {
    margin: 0px; }
  .leistungen-cat .six-panels {
    padding-top: 20px; }
  .leistungen-cat h3 {
    margin-top: 5px; }
  .leistungen-cat .cat-button {
    margin-left: 40px;
    margin-top: 30px; }
  .leistungen-cat .six-panels-buttons-categories div {
    border-top: 0px;
    border-bottom: 0px; }
  @media screen and (max-width: 991px) {
    .leistungen-cat {
      padding-bottom: 20px; }
      .leistungen-cat .panel-separation {
        padding: 30px 15px; }
      .leistungen-cat .cat-button {
        margin-left: 0px; }
      .leistungen-cat .six-panels-buttons-categories button {
        margin-top: 20px; } }

.leistungen-cat + .leistungen-cat {
  border-top: 1px solid #F0F0F0;
  padding-top: 50px; }
  @media screen and (max-width: 991px) {
    .leistungen-cat + .leistungen-cat {
      padding-top: 20px; } }

.main-patient {
  padding-top: 200px;
  padding-bottom: 200px; }
  @media screen and (min-width: 991px) {
    .main-patient .to-left {
      float: left; } }
  .main-patient img {
    max-height: 200px; }
  .main-patient .quote-svg {
    height: 100%; }
    @media screen and (min-width: 991px) {
      .main-patient .quote-svg {
        float: left; } }
  .main-patient .doctor-quote {
    float: left; }
  .main-patient .gradient-hr {
    margin-top: 80px;
    width: 100%;
    height: 1px;
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(left, white 0%, #e3e3e3 50%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, white 0%, #e3e3e3 50%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, white 0%, #e3e3e3 50%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */ }
    @media screen and (max-width: 991px) {
      .main-patient .gradient-hr {
        margin-top: 40px; } }
  .main-patient .horizontal-flip {
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1); }
  @media screen and (max-width: 991px) {
    .main-patient .rotate {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg); } }
  .main-patient h3 {
    font-size: 15px;
    color: #348790; }
  .main-patient h4 {
    padding-bottom: 30px;
    font-size: 33px;
    line-height: 53px;
    color: white; }
    @media screen and (max-width: 991px) {
      .main-patient h4 {
        text-align: left;
        font-size: 25px;
        line-height: 35px; } }
  .main-patient h5 {
    color: #348790;
    font-size: 15px;
    font-weight: 100; }
  .main-patient p {
    color: #348790;
    font-size: 15px;
    line-height: 22px; }
    @media screen and (max-width: 991px) {
      .main-patient p {
        text-align: left;
        font-size: 20px;
        line-height: 30px; } }
  @media screen and (max-width: 991px) {
    .main-patient {
      padding-top: 100px;
      padding-bottom: 100px; } }

.schnarchen {
  padding-top: 120px;
  padding-bottom: 120px; }
  @media screen and (max-width: 991px) {
    .schnarchen {
      padding-top: 30px;
      padding-bottom: 30px; } }

.no-min-height h3 {
  min-height: 0px !important;
  padding-bottom: 15px; }

.top-space {
  padding-top: 100px; }
  @media screen and (max-width: 991px) {
    .top-space {
      padding-top: 25px; } }

.bottom-space {
  padding-bottom: 100px; }
  @media screen and (max-width: 991px) {
    .bottom-space {
      padding-bottom: 25px; } }

p.big-paragraphs {
  line-height: 30px;
  font-size: 20px; }

.schlafmedizin-charts img {
  max-width: 140px; }
.schlafmedizin-charts .sch-chart {
  min-height: 200px; }
@media screen and (max-width: 991px) {
  .schlafmedizin-charts .sch-chart {
    padding-top: 40px; } }

.sleep-medicine img {
  max-width: 130px;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .sleep-medicine img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
