// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$text-font-stack: 'ProximaNova', sans-serif !default;
$quote-font-stack: 'Times New Roman', serif !default;
/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

 /// TEXT
$light-grey: #A59F9F !default;
$light-text-color: #fff !default;
$dark-headline-color: #575757 !default;
$mid-headline-color: #858585 !default;
$grey-menu: #ADADAD !default;
$blue-menu: #348790 !default;
$dark-text-color: #353535 !default;
$icons-color: #C9C9C9 !default;
$red-text-color: #9F3F45 !default;
$light-red-text-color: #FF6972 !default;
$blue-text-color: #40A2AC !default;
$blue-light-text: #57D4E1 !default;

//OTHER COLORS
$grey-button-border-color: #9B9B9B !default;
$blue-button-border-color: #40A2Ac !default;
$red-button-border-color: #FF6972 !default;
$white-button-border-color: #FFFFFF !default;
$blue-button: #64F0FE !default;
$red-hr: #E65F68 !default;
$hr: #F0F0F0 !default;


$red-panel: #FF6972 !default;
$dark-red-panel: #C64F56 !default;
$blue-panel: #64F0FE !default;
$blue-panel-border: #52CBD7 !default;

$menu-collapse: #64F0FE !default;

/// Width of container-fluid
$max-width: 960px !default;

/// FONT-SIZE
$micro-font-size: 10px;
$small-font-size: 12px;
$normal-font-size: 15px;
$semi-font-size: 20px;
$big-font-size: 30px;
$bigger-font-size: 36px;
$huge-font-size: 53px;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 480px),
  'medium': (min-width: 768px),
  'large': (min-width: 991px),
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
