.kontakt-all {
    padding-top: 140px;
    padding-bottom: 140px;
}

.small-text-paragraphs {
    padding-top: 25px;
    padding-bottom: 40px;
    img {
        padding-bottom: 15px;
    }
    p {
        font-size: $normal-font-size;
        color: $dark-headline-color;
        padding-left: 46px;
        a {
            color: $dark-headline-color;
            text-decoration: underline;
        }
    }
    @media screen and (max-width: 991px) {
        p {
            padding-left: 15px;
        }
    }
}

.kontakt {
    h4 {
        color: $dark-headline-color;
    }
    p {
        font-size: $normal-font-size;
        color: $dark-headline-color;
        strong {
            font-weight: 300;
        }
    }
}

.right-kontakt {
    padding-left: 50px;
    border-left: 1px solid $hr;
    select {
        -webkit-appearance: none;
        background: url(../img/arrow.png) no-repeat center right 20px #F5F5F5;
        height: 50px;
        margin-bottom: 20px;
    }
    .form-control {
        border: 1px solid #D0D0D0;
        font-size: 15px;
        padding: 14px;
        @include on-event{
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #D0D0D0;
        }
    }
    textarea {
        -webkit-box-shadow: none;
        background: #F5F5F5;
    }
    @media screen and (max-width: 991px) {
        padding-left: 15px;
        border: 0px;
    }
}


.left-kontakt-panels {
    float: left;
    color: $dark-headline-color;
    padding-top: 16px;
    line-height: 100%;
    padding-bottom: 16px;
    padding-right: 20px;
    strong {
        font-weight: 300;
    }
    embed {
        padding-right: 15px;
    }
    &.phones {
        color: $mid-headline-color;
    }
    a {
        color: $mid-headline-color;
        text-decoration: underline;
    }
}

.sprechzeiten-logo {
    max-width: 137px;
}
