// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

h2 {
    opacity: 0;
}
// 3-PANELS
%panels {

    @media screen and (max-width: 991px) {
        padding-top: 50px;
        .col-md-4 {
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;
            p {
                text-align: left;
            }
        }
    }
}
.panels-3 {
    @extend %panels;
    padding-top: 110px;
    @media screen and (max-width: 991px) {
        padding-top: 20px;
    }
}
.panel-icons {
    padding-bottom: 30px;
}
.panel-border {
    border-left: 1px solid $hr;
    border-right: 1px solid $hr;
    @media screen and (max-width: 991px) {
        border-left: 0px;
        border-right: 0px;
        border-top: 1px solid $hr;
        border-bottom: 1px solid $hr;
    }
}

//BIGQUOTE
.bigquote {
    margin-top: 115px;
    height: 800px;
    @include bg-retina('../img/backgroundbottom', 'jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (max-width: 768px) {
        margin-top: 55px;
        height: 600px;
        background-size: cover;
         background-position: left -100px top;
    }
}
.bigquote-gradient {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 71%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 71%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

//6-PANELS
.panels-6 {
    @extend %panels;
    padding-top: 130px;
    padding-bottom: 110px;
    h2 {
        padding-bottom: 50px;
    }
    .txt-box {
        @media screen and (min-width: 991px) {
            min-height: 215px;
        }
    }
    .col-md-4 {
        margin-bottom: 53px;
        @media screen and (max-width: 991px) {
            margin-bottom: 0px;
        }
    }
    .btn-default {
        @media screen and (max-width: 991px) {
            margin-top: 15px;
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            padding-bottom: 0px;
        }
        .col-md-4 {
            text-align:left;
        }

    }
}
.panel-top-border {
    @media screen and (max-width: 991px) {
        border-top: 1px solid $hr;
     }
}

//VIDEO
.video {
    background-position: center center;
    background-repeat: no-repeat;
    height: 750px;
    text-align: center;
}

.video-index {
    @include bg-retina('../img/video', 'jpg');
    background-size: cover;
}

.video-kopfschmerzen {
    @include bg-retina('../img/video2', 'png');
    background-size: cover;
}

//RED-PANEL
.red-panel {
    background: $red-panel;
    padding: 70px 0px;
    h2 {
        font-size: $huge-font-size;
        color: $red-text-color;
        font-weight: 100;
    }
    h3 {
        font-size: $normal-font-size;
        color: $red-text-color;
        font-weight: 300;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            padding: 30px 0px;
            &+li {
                border-top: 1px solid $red-hr;
            }
        }
        a {
            font-size: $big-font-size;
            color: $red-text-color;
            font-weight: 100;
            &:hover {
                color: darken($red-text-color, 15%);
            }
        }
    }
    .white-big-txt {
        font-size: $big-font-size;
        color: $light-text-color;
        font-weight: 300;
    }
    .timetable {
        color: $red-text-color;
        line-height: 22px;
        strong {
            font-weight: 400;
        }
        padding-top: 20px;
    }
    .left {
        padding-right: 30px;
        float: left;
        display: inline;
    }
    .number {
        color: $red-text-color;
        font-size: $semi-font-size;
        font-weight: 100;
        height: 37px;
        width: 37px;
        border: 1px solid $red-text-color;
        border-radius: 50px;
        line-height: 1px;
        text-align: center;
        padding-top: 17px;
    }

    .red-6-panels {
        p {
            padding: 40px 0px;
            color: $light-text-color;
            font-size: $semi-font-size;
            line-height: 28px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 50px;
            p {
                padding: 20px 0px 30px 0px;
            }
        }
    }
    .red-6-panels:first-child {
        @media screen and (max-width: 768px) {
            margin-top: 20px;
        }
    }
    .red-6-panels:last-child {
        border: 0px;
    }
    .red-6-panels:nth-child(4n+2){
        border-left: 1px solid $red-hr;
        border-right: 1px solid $red-hr;
        margin-bottom: 20px;
      }
    .red-count {
        @media screen and (max-width: 768px) {
            padding-bottom: 0px;
        }
    }
    @media screen and (max-width: 991px) {
        padding: 40px 0px;
        .col-md-7 {
            padding: 0px 30px;
        }
        .col-md-4 {
            padding: 0px 30px;
        }
    }
}

//DARK-RED-PANEL
.dark-red-panel {
    background: $dark-red-panel;
    padding: 14px 0px;
}

//BLUE-PANEL
.blue-panel {
    background: $blue-panel;
    border-bottom: 5px solid $blue-panel-border;
    padding: 75px 0px;
    .btn {
        margin-right: 30px;
    }
    h2 {
        color: $blue-button-border-color;
        font-weight: 100;
        @media screen and (max-width: 768px) {
            padding: 0px;
        }
    }
    p {
        padding-top: 20px;
        padding-bottom: 50px;
        font-size: $semi-font-size;
        line-height: 28px;
        color: $blue-button-border-color;
    }
    .blue-buttons {
        @media screen and (max-width: 768px) {
            .btn {
                display: block;
                margin: auto;
                width: 80%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        @media screen and (max-width: 468px) {
            .btn {
                display: block;
                margin: auto;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.separate-red {
    @media screen and (max-width: 991px) {
        border-bottom: 5px solid $red-hr;
    }
}
