.laser-photo {
    margin-top:210px;
    text-align: center;
    position: relative;
    img {
        padding-top: 5px;
        margin-left: -7px;
        position: absolute;
        top:24px;
        z-index: 999;
        width: 112px;
    }
    @media screen and (min-width: 991px) {
        height: 512px;

    }
    @media screen and (max-width: 991px) {
        text-align: left;
        padding-top: 0px;
        margin-top: 150px;
        img {
            position: absolute;
            margin-left: -76px;
             top: 70px;

        }
    }
}
.dot {
    width: 50%;
    float: right;
    position: relative;
    height: 25px;
    border-radius: 14px;
}
.dot-top {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    &::after {
        content: '\2219';
        font-size: 40px;
        position: absolute;
        line-height: 1;
        top:-22px;
        right: -2px;
    }
    @media screen and (max-width: 991px) {
        display: block;
        width: 150%;
        float: none;
        margin-left: -20px;
        height: 300px;
        &::after {
            right: -7px;
        }
    }
}
.dot-bottom {
    height: 80px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    &::after {
        content: '\2219';
        font-size: 40px;
        position: absolute;
        line-height: 1;
        bottom:-19px;
        right: -2px;
    }
}
.laser-white {
    .dot-bottom {
        @media screen and (max-width: 991px) {
            display: block;
            width: 130%;
            float: none;
            margin-left: -20px;
            height: 90px;
            &::after {
                right: -7px;
            }
        }
    }
}
.dot-white {
    border-left: 1px dashed $light-text-color;
    border-top: 1px dashed $light-text-color;
    &::after {
        color: $light-text-color;
    }
}
.dot-grey {
    border-left: 1px dashed #979797;
    border-bottom: 1px dashed #979797;
    &::after {
        color: #979797;
    }
}
.dot-long {
    border: 0px;
    border-radius: 0px;
    border-left: 1px dashed #979797;
    &::after {
        content: ' ';
    }
    @media screen and (max-width: 991px) {
        min-height: 440px;
    }
}
.laserbaner {
    height: auto;
    h2 {
        padding-top: 190px;
        line-height: 43px;
        margin: 0px;
        font-size: $bigger-font-size;
        color: $light-text-color;
        font-weight: 100;
        padding-bottom: 50px;
    }
    p {
        font-size: $semi-font-size;
        color: $red-text-color;
        padding-top: 15px;
        font-weight: 200;
        padding-left: 15px;
    }
    @media screen and (max-width: 991px) {
        h2 {
            padding-top: 130px;
            font-size: 27px;
            padding-bottom: 25px;
        }
        p {
            padding-left: 0px;
            font-size: $normal-font-size;
            padding-bottom: 30px;
        }
    }
}



.laser-white {
    padding-top: 100px;
    padding-bottom: 60px;
    color: $dark-headline-color;
    .txt {
    }
    p {
        padding-top: 15px;
        font-size: $semi-font-size;
        color: $light-grey;
        line-height: 31px;
    }
    .dash-text {
        position: relative;
        margin-top: -40px;
        .dot {
            margin-top: 0px;
        }
        h4 {
            margin-top: 60px;
        }
    }

    @media screen and (max-width: 991px) {
        padding-bottom: 30px;
        .dash-text {
            h4 {
                font-size: $semi-font-size;
                margin-top: 75px;
            }
        }
        .first-dash-text {
            margin: 0px;
        }
    }
    @media screen and (max-width:768px) {
        padding-top: 40px;
        .first-dash-text {
            .dot-bottom {
                height: 30px;
            }
            h4 {
                margin-top: 15px;
            }
        }
    }
    @media screen and (max-width: 480px) {
        .first-dash-text {
            padding-bottom: 30px;
        }
        .dash-text:not(.first-dash-text) {
            margin-top: -80px;
        }

    }
}

.laser-grey {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
     background: rgba(247,247,247,1);
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(81%, rgba(255,255,255,1)), color-stop(99%, rgba(156,156,156,0.1)), color-stop(100%, rgba(150,150,150,0.1)));
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#969696', GradientType=0 );
    .doctor {
        position: absolute;
        left:-40px;
        bottom: 0;
        width: 60%;
        max-width: 512px;
        @media screen and (max-width: 991px) {
            width: 45%;
        }
        @media screen and (max-width: 768px) {
            max-width: 200px;
        }
        @media screen and (max-width: 480px) {
            max-width: 170px;
        }
    }
    h4 {
        padding-bottom: 60px;
        color: $dark-headline-color;
        font-weight: 100;
    }
    .blue-box {
        padding-bottom: 50px;

        .blue-box-inside {
            background: #F6F6F6;
            padding: 0px;
            padding-top: 30px;
        }
        .name {
            color: $blue-light-text;
            font-weight: 400;
        }
        .size {
            font-size: $small-font-size;
            color: $dark-headline-color;
        }
        .grey-part {
            padding: 0px 15px;
            height: 92px;
        }
        .blue-part {

            p {
                font-size: $small-font-size;
                color: #3F97A0;
                z-index: 2;
                position: relative;
                min-height: 90px;
            }
            button {
                font-size: $small-font-size;
                padding: 10px 20px;
                border: 1px solid;
                z-index: 2;
                position: relative;
                &:hover {
                    border: 1px solid $red-button-border-color;
                }
            }
            padding: 20px 15px;
            background-color: #64F0FE;
            border-top: 4px solid #5CE2EF;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                z-index:1;
                bottom: 0; right: 0;
                border-bottom: 25px solid white;
                border-left: 25px solid #64F0FE;
                width: 0;
            }
        }
        @media screen and (max-width: 768px) {
            .grey-part {
                height: 120px;
                padding-left: 30px; padding-right: 30px;
                .name, .size {
                    text-align: left;
                    font-size: $semi-font-size;
                }
            }
            .blue-part {
                padding-left: 30px; padding-right: 30px;
                p {
                    height: 142px;
                    font-size: $semi-font-size;
                    text-align: left;
                }
                text-align: left;
            }
        }
        @media screen and (max-width: 320px) {
            .grey-part {
                height: 140px;
            }
            .blue-part {
                p {
                    height: 160px;
                }
            }
        }
    }
}

.doctor-quote {
    h4 {
        font-size: $bigger-font-size;
        line-height: 60px;
        font-weight: 100;
        text-indent: -12px;
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
    span {
        color:#CACACA;
    }
    p {
        padding-left: 30px;
        font-size: $normal-font-size;
        font-weight: 400;
        color: #BABABA;
    }
    @media screen and (max-width: 768px) {
        h4 {
            font-size: $semi-font-size;
            line-height: 30px;
            text-indent: -5px;
            padding-top: 110px;
        }
        p {
            padding-bottom: 110px;
        }
    }
    @media screen and (max-width: 480px) {
        h4 {
            padding-top: 20px;
        }
        p {
            padding-bottom: 20px;
        }
    }
}

.laser-list {
    h3 {
        padding-top: 20px;
        color: #A59F9F;
        font-size: $semi-font-size;
        font-weight: 100;
        line-height: 31px;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 20px 0px 70px 0px;
    }
    li {
        font-size: $normal-font-size;
        font-weight: 100;
        color: #575757;
        padding: 20px 0px;
        border-bottom: 1px solid $hr;
    }
    @media screen and (max-width: 768px) {
        padding: 0px 30px;
        background: rgba(255,255,255,1);
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(81%, rgba(255,255,255,1)), color-stop(99%, rgba(156,156,156,0.1)), color-stop(100%, rgba(150,150,150,0.1)));
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
   background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
   background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 81%, rgba(156,156,156,0.1) 99%, rgba(150,150,150,0.1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#969696', GradientType=0 );
        li {
            font-size: $semi-font-size;
        }
    }
}

.laser-bottom {
    padding: 100px 0px;
    h4 {
        color: $dark-headline-color;
        padding: 40px 0px;
        line-height: 42px;
        font-weight: 100;
    }
    p {
        font-size: $semi-font-size;
        color: $dark-headline-color;
        padding: 15px 0px;
        line-height: 30px;
    }
    button {
        margin-top: 15px;
    }
    @media screen and (max-width: 768px) {
        padding: 60px 0px;
        h2 {
            padding: 0px;
            margin: 0px;
        }
        p {
            font-size: $semi-font-size;
        }
    }
}
