.leistungen {
    padding-top: 180px;
    padding-bottom: 80px;
    padding-left: 0px;
     header {
        padding-bottom: 50px;
    }
    p {
        font-size: $semi-font-size;
        color: $dark-headline-color;
        line-height: 30px;
        strong {
            font-weight: 300;
        }
    }
    h2,h3,h4 {
        color: $dark-headline-color;
    }

    @media screen and (max-width: 991px) {
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            padding: 10px 0px;
        }
        .panel-separation {
            padding: 20px 15px;
        }
    }
}
.panel-separation {
    padding: 30px 15px;
}
.leistungen-next {
    padding-top: 60px;
    padding-bottom: 40px;
    p {
        font-size: $semi-font-size;
        color: $dark-headline-color;
        line-height: 30px;
        strong {
            font-weight: 300;
        }
    }
}

.grey-bg {
    margin-top: 60px;
    margin-bottom: 80px;
    background: #F3F3F3;
    padding: 30px 50px 30px 30px;
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (max-width: 991px) {
        margin-bottom: 0px;
    }
}

.three-panels {
    padding: 40px 0px 0px 0px;
    h3 {
        min-height: 65px;
        line-height: 22px;
        display: block;
        @media screen and (max-width: 991px) {
            font-size: $semi-font-size;
        }
    }
    p {
        font-size: $normal-font-size;
        line-height: 22px;
        width: 95%;
        padding-bottom: 20px;
        @media screen and (max-width: 991px) {
            font-size: $semi-font-size;
        }
    }
    @media screen and (max-width: 991px) {
        padding: 20px 0px 0px 0px;
        h3 {
            min-height: 0;
            line-height: 22px;
            padding-bottom: 20px;
        }
    }
}

.six-panels {
    padding: 60px 0px 15px 0px;
    h3 {
        min-height: 65px;
        line-height: 22px;
        display: block;
        @media screen and (max-width: 991px) {
            font-size: $semi-font-size;
        }
    }
    p {
        font-size: $normal-font-size;
        line-height: 22px;
        width: 95%;
        padding-bottom: 40px;
        @media screen and (max-width: 991px) {
            font-size: $semi-font-size;
        }
    }
    @media screen and (max-width: 991px) {
        .col-md-4 {
            border-top: 1px solid #F0F0F0;
            border-bottom: 1px solid #F0F0F0;
        }
        .col-md-4 + .col-md-4 {
            border-top: 0px;
        }
        .clearfix + .col-md-4 {
            border-top: 0px;
        }
    }
}


.six-panels-buttons {
    p {
        padding-bottom: 10px;
    }
    p:not(title) {
        min-height: 145px;
    }
    .btn-default {
        margin-bottom: 40px;
    }
    @media screen and (max-width: 991px) {
        p:not(title) {
            min-height: 0px;
        }
    }
}

.six-panels-buttons-categories {
    p {
        padding-bottom: 10px;
    }
    p:not(title) {
        min-height: 145px;
    }
    h3 {
        min-height: 35px;
    }
    .btn-default {
        margin-bottom: 40px;
    }
    @media screen and (max-width: 991px) {
        p:not(title) {
            min-height: 0px;
        }
    }
}

.vorgehensweise {
    padding-top: 30px;
    padding-bottom: 50px;
}
.verschiedene {
    padding-top: 15px;
    padding-bottom: 50px;
}
.vorgehen {
    padding-top: 35px;
    padding-bottom: 50px;
}
.typische {
    padding-top: 80px;
    padding-bottom: 40px;
}
.therapie {
    padding-top: 30px;
    padding-bottom: 90px;
    @media screen and (max-width: 991px) {
        padding-top: 0px;
        padding-bottom: 60px;
    }
}
.wie-wird {
    padding-top: 10px;
    padding-bottom: 60px;
}
.konsenspapier {
    padding-top: 100px;
}
.op-mikroskop {
    padding-top: 40px;
    padding-bottom: 20px;
}
.wie-verlauft {
    padding-top: 100px;
    padding-bottom: 50px;
    @media screen and (max-width: 991px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.circles-ul, .circles-ul p {
    color: $dark-headline-color;

    .dot {
        margin-top: 10px;
        width: 1px;
        right: 45%;
     }
     .dot-grey {
         border-color: #D7D7D7;
     }
    .dot-bottom:after {
        right: -4px;
        color: #D7D7D7;
    }
    ul {
        padding: 0px 0px 0px 0px;
        margin:0px;
        list-style: none;
        li {
            font-weight: 100;
            font-size: $normal-font-size;
            &:before {
                content: '\2219';
                font-size: 40px;
                line-height: 14px;

                display: inline-block;
                height: 15px;
                padding-top: 1px;
                width: 2.5rem;
                overflow: hidden;
            }
        }
    }
    .circles-li {
        margin-top: 20px;
    }
    .with-ul {
        p {
            width: 70%;
        }
        @media screen and (max-width: 768px) {
            p {
                width: 100%;
            }
        }
    }
}

.dot-bottom-longer {
    height: 100px;
    @media screen and (max-width: 480px) {
        height: 200px;
    }
}

.dot-bottom-long {
    height: 200px;
    @media screen and (max-width: 480px) {
        height: 330px;
    }
}

.for-numb-circ {
    padding-right: 40px;
    float: left;
    padding-left: 0px;
    @media screen and (max-width: 768px) {
        padding-right: 0px;
    }
}
.number-circle {
    border: 1px solid black;
    border-radius: 50%;
    height: 37px;
    width: 37px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: $dark-headline-color;
    vertical-align: middle;
    display: table-cell;

}
.number-text {
    padding-top: 7px;
    p {
        font-size: $normal-font-size;
        line-height: 22px;
    }
    .title {

        font-size: $semi-font-size;
    }
    @media screen and (max-width: 991px) {
        padding-top: 0px;
    }
}

.full-size-photo {
    width: 100%;
    height: 800px;
    position: relative;

    background-position: center right;
    @media screen and (max-width: 991px) {
        height: 500px;
    }
}

#f-s-p-1 {
    @include bg-retina('../img/bleaching1', 'png');
    background-size: cover;
}
#f-s-p-2 {
    @include bg-retina('../img/zahnfleischbluten', 'png');
    background-size: cover;
}
#f-s-p-3 {
    @include bg-retina('../img/wurzelkanal', 'png');
    background-size: cover;
}
#f-s-p-4 {
    @include bg-retina('../img/implantate', 'png');
    background-size: cover;
}
#f-s-p-5 {
    @include bg-retina('../img/cerec', 'png');
    background-size: cover;
}
#f-s-p-6 {
    @include bg-retina('../img/prophylaxe', 'png');
    background-size: cover;
}
#f-s-p-7 {
    @include bg-retina('../img/leistungen', 'png');
    background-size: cover;
}



.paragraph-h4-panels {
    h4 {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    p {
        padding-bottom: 40px;
    }
}

.chart {
    padding: 20px 0px;
 }

.chart-img {
    height: 92px;
    width: 142px;
    padding-right: 50px;
    padding-left: 0px;
    text-align: left;
}

 .charts {
     margin-bottom: 50px;
 }

.points-3 {
    padding-top: 30px;
    padding-bottom: 60px;
    @media screen and (max-width: 991px) {
        padding-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 0px;
    }
}

.circles-bottom-padding {
    padding-bottom: 60px;
}

span.underline {
    border-bottom: 1px solid $dark-headline-color;
}

.quote-p {
    padding-left: 50px;
    .quote-p-p{
        border-left: 4px solid $dark-headline-color;
    }
    p {
        padding-left: 20px;
        font-style: italic;
        margin-left: 20px;
    }
    @media screen and (max-width: 991px) {
        padding-left: 15px;
        p {
            padding-left: 10px;
        }
    }
}

.panel-border-right {
    border-right: 1px solid #F0F0F0;
}

.leistungen-cat {

    padding-bottom: 60px;
    .panel-separation {
        padding: 15px;
    }
    h2 {
        color: $mid-headline-color;
    }
    h4 {
        margin: 0px;
    }
    .six-panels {
        padding-top: 20px;
    }
    h3 {
        margin-top: 5px;
    }
    .cat-button {
        margin-left: 40px;
        margin-top: 30px;
    }
    .six-panels-buttons-categories {
        div {
            border-top: 0px;
            border-bottom: 0px;
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 20px;
        .panel-separation {
            padding: 30px 15px;
        }
        .cat-button {
            margin-left: 0px;
        }
        .six-panels-buttons-categories {
            button {
                margin-top: 20px;
            }
        }
    }
}
.leistungen-cat + .leistungen-cat {
    border-top: 1px solid #F0F0F0;
    padding-top: 50px;
    @media screen and (max-width: 991px) {
        padding-top: 20px;
    }
}
