.news-all {
    padding-top: 140px;
    article {
        padding: 70px 0px;
        border-bottom: 1px solid $hr;
    }
}

.news-head {
    position: relative;
    margin-bottom: 30px;
}

.news-date {
    position: absolute;
    right: 0px;
    color: $dark-headline-color;
    bottom: 10px;
}
.news-content {
    p {
        font-size: $semi-font-size;
        line-height: 35px;
        color: $dark-headline-color;
        padding: 0px 0px 30px 0px;
    }
}
.big {
    .news-content {
        p {
            font-size: $semi-font-size;
            line-height: 35px;
            color: $dark-headline-color;
            padding: 30px 0px;
        }
    }
}



@media screen and (max-width: 991px) {
    .news-all {
        padding-top: 70px;
        article {
            padding: 35px 0px;
        }
    }
    .news-head {
        padding: 0px 15px;
    }
    .news-date {
        right: 15px;
    }
    .news-img {
        padding: 0px 0px;
    }
    .news-content {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 768px) {
    .news-date {
        position: static;
        padding: 10px 30px 0px 30px;
        text-align: left;
    }
    .news-head {
        padding: 0px;
    }
}
