// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
// FADE SLIDER //
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel-inner.schlafmedizin {
    .item {
        border-bottom: 4px solid #43A7B1;
        background: rgba(67,239,255,1);
background: -moz-linear-gradient(top, rgba(67,239,255,1) 0%, rgba(56,200,213,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,239,255,1)), color-stop(100%, rgba(56,200,213,1)));
background: -webkit-linear-gradient(top, rgba(67,239,255,1) 0%, rgba(56,200,213,1) 100%);
background: -o-linear-gradient(top, rgba(67,239,255,1) 0%, rgba(56,200,213,1) 100%);
background: -ms-linear-gradient(top, rgba(67,239,255,1) 0%, rgba(56,200,213,1) 100%);
background: linear-gradient(to bottom, rgba(67,239,255,1) 0%, rgba(56,200,213,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43efff', endColorstr='#38c8d5', GradientType=0 );
    }
}

// END OF FADE SLIDER //

.carousel, .item, .carousel-inner, .fill {
    height: 100%;
}
.fill {
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-indicators  {
    bottom: 40px;
    li {
        &.active {
            background: $red-button-border-color;
            border-color: $red-button-border-color;
            width: 10px;
            height: 10px;
            margin: 0px 1px 1px 1px !important;
        }
    }
    &.schlafmedizin {
        li {
            &.active {
                background: white;
                border-color: white;
            }
        }
    }
}

.panel-2-columns {
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
        padding: 0px;
        padding-bottom: 60px;
    }
    h4 {

        color: $dark-headline-color;
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        width: 50%;
        float: left;
        font-color: $dark-headline-color;
        font-weight: 100;
        font-size: $normal-font-size;
        line-height: 30px;
        padding-bottom: 40px;
        &.left {
            padding-right: 15px;
        }
        &.right {
            padding-left: 15px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            &.left, &.right {
                padding: 0px;
            }
            &.right {
                padding-bottom: 40px;
            }
        }
    }
    li {
        padding: 15px 0px;
        border-bottom: 1px solid $hr;
    }
    @media screen and (max-width: 768px) {
        padding-top: 40px;
        padding-bottom:40px;
        h2 {
            padding-bottom: 20px;
        }
        ul {
            font-size: $semi-font-size;
        }
    }
}

%testimony {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    h2 {
        color: $light-text-color;
    }
    .testimony {
         position: absolute;
         padding:0px 15px;
         bottom: 70px;
         @media screen and (max-width: 480px) {
            bottom: 70px;
         }
    }
    .white {
        text-indent: -20px;
        @media screen and (max-width: 768px) {
           text-indent: -5px;
        }
    }
    .author {
        font-weight: 100;
        strong {
            font-weight: 300;
        }
    }
    @media screen and (max-width: 480px) {
        background-position: center bottom;
    }
}

.testimony-up {
    height: 752px;
    position: relative;
    @media screen and (max-width: 991px) {
        height: 600px;
    }
    @media screen and (max-width: 480px) {
        height: 650px;
    }
    @media screen and (max-width: 340px) {
        height: 600px;
    }
}
.philosophy {
    position: relative;
    @extend %testimony;
    @include bg-retina('../img/philosophie_testimony', 'jpg');
}
.philosophy-2 {
    position: relative;
    @extend %testimony;
    @include bg-retina('../img/philosophie_testimony_2', 'jpg');
    .testimony {
        bottom: 130px;
        @media screen and (max-width: 768px) {
            bottom: 50px;
        }
    }
    .white {
        text-indent: 0;
    }
}
.red-panel {
    .boxs {
        padding-top: 30px;
    }
    @media screen and (max-width: 768px) {
        .boxs {
            padding-top: 0px;
        }
        h2 {
            font-size: $big-font-size;
            font-weight: 100;
        }
    }
}

.red-6-panels {
    @media screen and (max-width: 768px) {
        border-bottom: 1px solid $red-hr
    }
}

.paragraphs {
    padding-top: 60px;
    padding-bottom: 90px;
    h2 {
        padding: 0px;
        padding-top: 60px;
        padding-bottom: 50px;
        font-weight: 100;

     }
    p {
        font-size: $semi-font-size;
        line-height: 28px;
        padding-bottom: 20px;
        font-weight: 100;
        strong {
            font-weight: 300;
        }
    }
    @media screen and (max-width: 768px) {
        padding-top: 0px;
        p {
            padding: 0px;
        }
        h2 {
            padding: 30px 0px 30px 0px;
        }
    }
}
