.main-patient {
    padding-top: 200px;
    padding-bottom: 200px;
    .to-left {
        @media screen and (min-width: 991px) {
            float: left;
        }
    }
    img {
        max-height: 200px;
    }
    .quote-svg {
        @media screen and (min-width: 991px) {
            float: left;
        }
        height: 100%;
    }
    .doctor-quote {
        float: left;
    }
    .gradient-hr {
        margin-top: 80px;
        width: 100%;
        height: 1px;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        @media screen and (max-width: 991px) {
            margin-top: 40px;
        }
    }
    .horizontal-flip {
        transform: scale(-1,1);
        -webkit-transform: scale(-1,1);
        -o-transform: scale(-1,1);
        -ms-transform: scale(-1,1);
    }
    .rotate {
        @media screen and (max-width: 991px) {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }
    }
    h3 {
        font-size: 15px;
        color: #348790;
    }
    h4 {
        padding-bottom: 30px;
        font-size: 33px;
        line-height: 53px;
        color: white;
        @media screen and (max-width: 991px) {
            text-align: left;
            font-size: 25px;
            line-height: 35px;
        }
    }
    h5 {
        color: #348790;
        font-size: 15px;
        font-weight: 100;
    }
    p {
        color: #348790;
        font-size: $normal-font-size;
        line-height: 22px;
        @media screen and (max-width: 991px) {
            text-align: left;
            font-size: $semi-font-size;
            line-height: 30px;
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.schnarchen {
    padding-top: 120px;
    padding-bottom: 120px;
    @media screen and (max-width: 991px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.no-min-height {
    h3 {
        min-height: 0px !important;
        padding-bottom: 15px;
    }
}
.top-space {
    padding-top: 100px;
    @media screen and (max-width: 991px) {
        padding-top: 25px;
    }
}
.bottom-space {
    padding-bottom: 100px;
    @media screen and (max-width: 991px) {
        padding-bottom: 25px;
    }
}
p.big-paragraphs {

    line-height: 30px;
    font-size: $semi-font-size;
}

.schlafmedizin-charts {
    img {
        max-width: 140px;
    }
    .sch-chart {
        min-height: 200px;
    }
    @media screen and (max-width: 991px) {
        .sch-chart {
            padding-top: 40px;
        }
    }
}

.sleep-medicine img {
    max-width: 130px;
    text-align: center;
    @media screen and (max-width: 991px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }
}
