// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main-doctor {
    padding-top: 80px;

    img {
        border: 5px solid #EDEDED;
        max-height: 160px;
    }
    .quote-svg {
        @media screen and (min-width: 991px) {
            float: left;
        }
        height: 100%;
    }
    .doctor-quote {
        float: left;
    }
    .gradient-hr {
        margin-top: 80px;
        width: 100%;
        height: 1px;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        @media screen and (max-width: 991px) {
            margin-top: 40px;
        }
    }
    .horizontal-flip {
        transform: scale(-1,1);
        -webkit-transform: scale(-1,1);
        -o-transform: scale(-1,1);
        -ms-transform: scale(-1,1);
    }
    .rotate {
        @media screen and (max-width: 991px) {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }
    }
    h4 {
        padding-bottom: 30px;
        @media screen and (max-width: 991px) {
            text-align: left;
        }
    }
    p {
        @media screen and (max-width: 991px) {
            text-align: left;
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 40px;
    }
}

.other-doctors {
    padding-top: 60px;
    padding-bottom: 20px;
    
    .single-doctor {
        padding: 40px 0px;

    }
    img {
        border: 3px solid #EDEDED;
        max-height: 120px;

    }
    h3 {
        padding-bottom: 15px;
    }
    p {
        font-size: 12px;
        width: 80%;
    }
    @media screen and (max-width: 991px) {
        padding: 40px 15px 0px 15px;
        text-align: center;
        img {
            display: block;
            margin: auto;
        }
        p {
            width: 100%;
            text-align: left;
            font-size: $semi-font-size;
        }
    }
}

.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
