// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    .big-foot {
        padding: 40px 0px;
        li {
            padding: 10px 60px 10px 0px;
        }
        a {
            padding: 0px;
            color: $dark-text-color;
            font-size: $semi-font-size;
            font-weight: 300;
            &:hover {
                background: none;
                color: lighten($dark-text-color, 30%);
            }
        }
        @media screen and (max-width: 480px) {
            li {
                padding: 10px 30px 10px 0px;
            }
        }
    }
    .small-foot {
        padding-bottom: 80px;
        li {
            padding: 10px 60px 10px 0px;
        }
        a {
            padding: 0px;
            color: $dark-text-color;
            font-size: $micro-font-size;
            font-weight: 100;
            &:hover {
                background: none;
                color: lighten($dark-text-color, 30%);
            }
        }
        @media screen and (max-width: 991px) {
            li {
                padding: 10px 30px 10px 0px;
            }
            a {
                font-size: $normal-font-size;
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding: 0px 15px;
    }
}
