// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.mainbaner {
    @include bg-retina('../img/background', 'jpg');
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.teambaner {
    @include bg-retina('../img/team_baner', 'jpg');
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.laserbaner {
    background-color: #ff686c;
    @include bg-retina('../img/laser_baner', 'jpg');
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.huge-top {
    position: relative;
    height: 722px;
     @media screen and (max-width: 768px) {
        min-height: auto;
    }
}

.huge-top-schlafmedizin {
    position: relative;
}

.go-down-position {
    position: absolute;
    left: 50%;
    bottom: -30px;
    &:hover {
        .go-down {
            -webkit-box-shadow: 0px 0px 21px -9px rgba(0,0,0,0.42);
            -moz-box-shadow: 0px 0px 21px -9px rgba(0,0,0,0.42);
            box-shadow: 0px 0px 21px -9px rgba(0,0,0,0.42);
            @include animated(0.5s, all);
        }
    }
} // end of .go-down-position

.down-border {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: none;
    color: white;
    @media screen and (min-width: 991px) {
        padding-bottom: 20px;
    }
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.go-down {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50px;
    position: relative;
    left: -50%;
    @include animated(0.5s, all);
}

#arrowdown {
    overflow: visible;
    padding-left: 20px;
    padding-top: 26px;
 }

.navbar-default {
    @include animated(0.5s, all);
    padding: 0px 15px;
    z-index: 99999999;
    width: 100%;
    position: absolute;
    top: 0;
    background: none;
    border: 0px;
    margin: 0px;
    margin-bottom: -67px;
    border-radius: 0px;
    .navbar-toggle {
        &:not(.collapsed) {
            .icon-bar {
                background-color: $blue-text-color;
                height: 1px;
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    margin-top: 12px;
                }
                &:nth-child(4) {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    margin-top: -1px;
                }
            }
        }
    }
    .navbar-nav {
        .active {
            &>a {
                background: none;
                font-weight: 300;
                color: $light-text-color;
                @include on-event{
                    background: none;
                }
                @media screen and (min-width: 991px) {
                    &::before {
                        content: ' \25CF';
                        font-size: 7px;
                        position: absolute;
                        top:45px;
                        left:45%;
                        opacity: 1;
                        @include animated(0.3s, all);
                    }
                    &:hover {
                        color: $light-text-color;
                        &::before {
                            top: 15px;
                            opacity: 0;
                            @include animated(0.3s, all);
                         }
                    }
                }
            }
        }
        li{
            a{
                color: $light-text-color;
                font-weight: 100;
                padding: 30px 29px 20px 30px;
                @media screen and (max-width: 991px) {
                    padding: 27px 29px;
                    font-size: 30px;
                    border-bottom: 1px solid #5AD8E5 !important;
                }
                &:hover {
                    color: $light-text-color;
                }
                @media screen and (min-width: 991px) {
                    &::before {
                        content: ' \25CF';
                        font-size: 7px;
                        position: absolute;
                        top:15px;
                        left:45%;
                        opacity: 0;
                        @include animated(0.3s, all);
                    }
                    &:hover {
                        color: $light-text-color;
                        &::before {
                            content: ' \25CF';
                            font-size: 7px;
                            position: absolute;
                            top:45px;
                            left:45%;
                            opacity: 1;
                            @include animated(0.3s, all);
                         }
                    }
                }
            }
            &.dropdown {
                .caret {
                    @include animated(0.2s, all);
                }
                a {
                    transition: none;
                }
                &.open {
                    a.dropdown-toggle {
                        transition: none;
                        border: 0px !important;
                        @media screen and (max-width: 991px) {
                            font-weight: 300;
                        }
                    }
                    .caret {
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        @include animated(0.2s, all);
                    }
                    position: static;
                    .dropdown-menu {
                        background: $menu-collapse;
                        border-radius: 0px;
                        border: 0px;
                        display: table;
                        width: 100%;
                        left: 0;
                        right: 0;
                        li {
                            a {
                                color: red;
                            }
                        }
                    }
                }
            }
            &:last-child {
                &:not(active) {
                    a {
                        padding-right: 0px;
                        @media screen and (min-width: 991px) {
                            &::before {
                                content: ' \25CF';
                                font-size: 7px;
                                position: absolute;
                                top:15px;
                                left:70%;
                                opacity: 0;
                            }
                            &:hover {
                                color: $light-text-color;
                                &::before {
                                    content: ' \25CF';
                                    font-size: 7px;
                                    position: absolute;
                                    top:45px;
                                    left:70%;
                                    opacity: 1;
                                    @include animated(0.3s, all);
                                 }
                            }
                        }
                    }
                }
                &.active {
                    @media screen and (min-width: 991px) {
                        a {
                            &::before {
                                content: ' \25CF';
                                font-size: 7px;
                                position: absolute;
                                top:45px;
                                left:70%;
                                color: $grey-menu;
                                opacity: 1;
                                @include animated(0.3s, all);
                            }
                            &:hover {
                                color: $grey-menu;
                                &::before {
                                    content: ' \25CF';
                                    font-size: 7px;
                                    position: absolute;
                                    top:15px;
                                    left:70%;
                                    opacity: 0;
                                    @include animated(0.3s, all);
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    .dark-navbar {
        .active {
            a {
                color: $red-text-color;
                &:hover {
                    color: $red-text-color;
                }
            }
        }
        li {
            a {
                color: $red-text-color;
                &:hover {
                    color: $red-text-color !important;
                }
            }
        }
    }
    .grey-navbar {
        .navbar-toggle {
            .icon-bar {
                background-color: $grey-menu;

            }
        }
        .active {
            a {
                color: $grey-menu;
                &:hover {
                    color: $grey-menu;
                }
            }
        }
        li {
            a {
                color: $grey-menu;
                &:hover {
                    color: $grey-menu;
                }
            }
        }
        @media screen and (max-width:991px) {
            .navbar-toggle:not(.collapsed) {
                .icon-bar {
                    background-color: $blue-text-color;
                }
            }
            .active {
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            li {
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
    .blue-navbar {
        .navbar-toggle {
            .icon-bar {
                background-color: $blue-menu;

            }
        }
        .active {
            a {
                color: $blue-menu;
                &:hover {
                    color: $blue-menu;
                }
            }
        }
        li {
            a {
                color: $blue-menu;
                &:hover {
                    color: $blue-menu;
                }
            }
        }
        @media screen and (max-width:991px) {
            .navbar-toggle:not(.collapsed) {
                .icon-bar {
                    background-color: $blue-text-color;
                }
            }
            .active {
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            li {
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
    .dropdown-menu {
        padding-top: 40px;
        @media screen and (max-width: 991px) {
            padding-top: 15px;
        }
    }

    .dropdown-header {
        color: $blue-text-color;
        font-size: 20px;
        font-weight: 100;
        @media screen and (max-width: 991px) {
            font-size: 15px;
            font-weight: 300;
            padding: 5px 0px !important;
        }
    }
    .dropdown-two-columns{
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-top: 30px;
        margin-bottom: 20px;
        li {
            line-height: 1.5em;
            float: left;
            display: inline;
            width: 50%;
            padding: 0px 10px;
            a {
                padding: 20px 0px;
                font-size: 12px;
                display: block;
                color: #FFF !important;
                font-weight: 300;
                border-bottom: 1px solid #5AD8E5;
                @include on-event {
                    border-bottom: 1px solid darken(#5AD8E5, 15%);
                    text-decoration: underline;
                    &::before, &::after {
                        content: ' ' !important;
                        opacity: 0 !important;
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            padding-top: 15px;
            padding-left: 0px;
            li {
                padding-left:0px;
                width: 100%;
                a {
                    border-bottom: 0px !important;
                    color: #40A2AC !important;
                    font-size: 20px;
                    position: relative;
                    font-weight: 100;
                    &::after {
                        content: "";
                        background: #5AD8E5;
                        position: absolute;
                        bottom:0;
                        left:0;
                        height: 1px;
                        width: 100px;
                    }
                }
                &:last-child {
                    a {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }

        }
    }
    .dropdown-one-column{
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-top: 30px;
        margin-bottom: 20px;
        &.superlinks {
            padding-top: 10px;
        }
        li {
            line-height: 1.5em;
            float: left;
            display: inline;
            width: 100%;
            padding: 0px 10px;
            a {
                padding: 20px 0px;
                font-size: 12px;
                display: block;
                color: #FFF !important;
                font-weight: 300;
                border-bottom: 1px solid #5AD8E5;
                @include on-event {
                    border-bottom: 1px solid darken(#5AD8E5, 15%);
                    text-decoration: underline;
                    &::before, &::after {
                        content: ' ' !important;
                        opacity: 0 !important;
                    }
                }
            }
            &.superlink {
                border-top: 1px solid #3cd9e7;
                a {
                    border-bottom: 0px;
                    font-size: 20px;
                    font-weight: 100;
                    padding-top: 29px;
                    padding-bottom: 29px;
                    color: $blue-text-color !important;
                    @include on-event {
                        color: darken($blue-text-color, 15%) !important;
                        text-decoration: underline;
                    }
                }
            }
            &.superlink:nth-child(1) {
                border-top: 0px;
                a {
                    padding-top: 0px;
                }
            }
        }
        @media screen and (max-width: 991px) {
            padding-left: 0px;
            padding-top: 15px;
            li {
                padding-left: 0px;
                a {
                    color: #40A2AC !important;
                    font-size: 20px;
                    font-weight: 100;
                }
            }
        }
    }


    .navbar-toggle {
        border: 0px;
        margin-top: 17px;
        margin-right: 0px;
        @include animated(0.5s, all);

        &:hover, &:focus, &:active {
            background: none;
            @include animated(0.5s, all);
            border: 0px;
        }

        &:visited {
            border: 0px;
            @include animated(0.5s, all);
            background: none;
        }

        .icon-bar {
            background-color: #fff;
            height: 4px;
            width: 31px;
            border-radius: 31px;
            &+.icon-bar {
                margin-top: 6px;
            }
        }
    } // end of .navbar-toggle
} // end of .navbar-default

.navbar-brand img {
    height: 41px;
}

#for-collapse {
    @include animated(1s, all);
}

.collapse-bg {
     @media screen and (max-width: 991px) {
         background: $menu-collapse;
         height: 100%;
         position: fixed;
         overflow: scroll;
         .container-fluid {
             height: 100%;
             position: relative;

         }
         .navbar-collapse {
              overflow: visible !important;
         }
     }
     @include animated(0.5s, all);
  }

 .navbar-collapse {
     border: 0px;
 }

 .gradient-top {
     @media screen and (max-width: 768px) {
         background: -moz-linear-gradient(top, rgba(0,0,0,0) 24%, rgba(0,0,0,0.6) 62%); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 62%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom, rgba(0,0,0,0) 24%,rgba(0,0,0,0.6) 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */

     }
 }

.quote {
    @media screen and (max-width: 768px) {
        position: absolute;
        bottom: 100px;
    }
    .white {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;
    }
    .author {
        -webkit-animation-delay: 1.0s;
        -moz-animation-delay: 1.0s;
        -o-animation-delay: 1.0s;
        -ms-animation-delay: 1.0s;
    }
}


/* MENU ON HOVER */
@media (min-width: 979px) {
    ul.nav li.dropdown {
        position: static;
    }
  ul.nav li.dropdown > div.dropdown-menu {
      background: #64F0FE;
      border-radius: 0px;
      border: 0px;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
  }
}
