// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
%buttons {
    @include animated(0.3s, all);
    border-radius: 40px;
    line-height: 1;
    font-weight: 100;
    background: none;
}

.btn-default {
    @extend %buttons;
    border: 1px solid $grey-button-border-color;
    padding: 13px 30px;
    color: $grey-button-border-color;
    font-size: $small-font-size;
    @include on-event {
        border: 1px solid $light-red-text-color;
        background: $light-red-text-color;
        color: $light-text-color;
        @include animated(0.3s, all);
    }
}

.btn-small-blue {
    @extend %buttons;
    border: 0px;
    background: $blue-button;
    padding: 15px 50px;
    color: white;
    margin: 20px 0px;
    font-size: $small-font-size;
    @include on-event {
        border: 0px;
        background: $light-red-text-color;
        color: $light-text-color;
        @include animated(0.3s, all);
    }
}

.btn-blue {
    @extend %buttons;
    border: 5px solid rgba(0,0,0,0.1);
    background: $blue-button;
    padding: 19px 43px;
    color: $blue-text-color;
     font-size: $semi-font-size;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    svg {
        overflow: visible;
        padding-top: 2px;
        margin-right: 10px;
    }
     @include on-event {
        border: 5px solid rgba(0,0,0,0.1);
        background: $blue-text-color;
        -webkit-background-clip: padding;
        -moz-background-clip: padding;
        background-clip: padding-box;

        color: $blue-button;
        @include animated(0.3s, all);
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 260px;
    }
}

.btn-red {
    @extend %buttons;
    border: 1px solid $red-button-border-color;
    padding: 13px 30px;
    color: $light-red-text-color;
    font-weight: 300;
    font-size: $small-font-size;
     @include on-event {
        border: 1px solid $light-red-text-color;
        background: $light-red-text-color;
        color: $light-text-color;
        @include animated(0.3s, all);
    }
}

.btn-white {
    @extend %buttons;
    border: 2px solid $white-button-border-color;
    padding: 19px 30px;
    color: $light-text-color;
    font-size: $semi-font-size;
     @include on-event {
        border: 2px solid $light-red-text-color;
        background: $light-red-text-color;
        color: $light-text-color;
        @include animated(0.3s, all);
    }
}

.btn-dark-blue {
    @extend %buttons;
    border: 2px solid $blue-button-border-color;
    padding: 19px 30px;
    color: $blue-button-border-color;
    font-size: $semi-font-size;
     @include on-event {
        border: 2px solid $light-red-text-color;
        background: $light-red-text-color;
        color: $light-text-color;
        @include animated(0.3s, all);
    }
}

.still-260 {
    text-align: center;
    width: 260px;
    @media screen and (max-width: 768px) {
        width: auto;
    }
}
.cta-buttons {
    width: 100%;
    height: 200px;
    position: fixed;

    z-index: 999;
}
.cta-button {
    margin-top: 250px;
    background: $red-button-border-color;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: inline;
    font-size: $small-font-size;
    font-weight: 300;
    color: $red-text-color;
    padding: 11px 20px 16px 15px;
    position: absolute;
    right: -35px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    z-index: 999;
    @include animated(0.3s, all);
    &:hover {
        right: -31px;
        @include animated(0.3s, all);
    }
    @media screen and (max-height: 500px) {
        margin-top: 110px;
    }
    .dark-cta & {
        background: $red-text-color;
        color: $red-button-border-color;
    }
}

.cta-kontakt {
    margin-top: 360px;
    padding: 11px 32px 16px 32px;
    @media screen and (max-height: 500px) {
        margin-top: 220px;
    }
}
