.circle-chart {
    height: 132px;
    width: 132px;
    background: $dark-red-panel;
    background-image: linear-gradient(to right, $dark-red-panel 50%, $light-text-color 0);
    border-radius: 200px;
    padding-top: 19px;
    margin-right: 30px;
    position: relative;

    .inside {
        height: 93px;
        width: 93px;
        position: absolute;
        background: $red-panel;
        border-radius: 200px;
        z-index:99;
        left: 19px;
        margin: auto;
        border: 4px solid #D85862;
        font-size: $big-font-size;
        font-weight: 300;
        color: $light-text-color;
        text-align: center;
        padding-top: 21px;
    }
    &::after {
        content: '';
      position: absolute;
      z-index:1;
      overflow: hidden;
      top: 0px; left: 50%;
      width: 51%; height: 100%;
      border-radius: 0 100% 100% 0 / 50%;
      background-color: inherit;
      transform-origin: left;
    }
    @media screen and (max-width: 991px) {
        margin-bottom: 10px;
    }
}

.circle-chart-white {
    width: 92px;
    height: 92px;
    padding-top: 11px;
    background: #F4F4F4;
    background-image: linear-gradient(to right, #F4F4F4 50%, #64F0FE 0);

    .inside {
        height: 71px;
        width: 71px;
        font-size: $semi-font-size;
        left: 10px;
        background: #FFF;
        border: 4px solid #DDDDDD;
        color: $dark-headline-color;
        padding-top: 17px;
        strong {
            font-weight: 300;
        }
    }
}


.chart-60 {
    width: 92px;
    height: 92px;
    overflow: hidden;
    padding-top: 11px;
    background-image: linear-gradient(to right, #F4F4F4 50%, #64F0FE 0);
    position: relative;
    .inside {
        height: 71px;
        width: 71px;
        font-size: $semi-font-size;
        left: 10px;
        background: #FFF;
        border: 4px solid #DDDDDD;
        color: $dark-headline-color;
        padding-top: 17px;
        strong {
            font-weight: 300;
        }
    }
    &::before {
        content: '';
      position: absolute;
      z-index:1;
      overflow: hidden;
      top: 0px; left: 50%;
      width: 51%; height: 100%;
      border-radius: 0 100% 100% 0 / 50%;
      background-color:  #F4F4F4;
      transform-origin: left;
      /*animation-delay: 1s;
      animation-name: piechart-60;
      animation-duration: 1s;
      animation-timing-function: ease;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;*/
      animation: piechart-60 1s ease;
      animation: piechart-disap 2s step-end;
    }
    &::after {
        content: '';
      position: absolute;
      z-index:15;
      overflow: hidden;
      top: 0px; left: 50%;
      width: 51%; height: 100%;
      border-radius: 0 100% 100% 0 / 50%;
      background-color:  #64F0FE;
      opacity: 0;
      transform: rotate(.1turn);
      animation-name: piechart-cover;
      animation-duration: 2s;
      animation-timing-function: step-end;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
}

@keyframes piechart-disap {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes piechart-cover {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@-webkit-keyframes piechart-5 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
}
@keyframes piechart-5 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
}

@-webkit-keyframes piechart-10 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}
@keyframes piechart-10 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
}

@-webkit-keyframes piechart-15 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}
@keyframes piechart-15 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}

@-webkit-keyframes piechart-60 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}
@keyframes piechart-60 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}





.chart-5 {
    &::after {
        animation-delay: 1s;
        animation-name: piechart-5;
        animation-duration: 1s;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
          animation-fill-mode: forwards;
    }
}

.chart-15 {
    &::after {
        animation-delay: 1s;
        animation-name: piechart-15;
        animation-duration: 1s;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
          animation-fill-mode: forwards;
    }
}

.chart-10 {
    &::after {
        animation-delay: 1s;
        animation-name: piechart-10;
        animation-duration: 1s;
        animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
          animation-fill-mode: forwards;
    }
}
