.google-maps {
        position: relative;

        overflow: hidden;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

#map {
    width: 100%;
    height: 800px;
    @media screen and (max-width: 991px) {
        height: 400px;
    }
}
