@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);



#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  /*height: 200px;*/
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  /*width: 500px;*/
  /*height: 300px;*/
  text-align: center;
   .single-doctor {
      padding: 0px 30px;
  }
}

button.control_prev, button.control_next {
  position: absolute;
  top: 30px;
  z-index: 999;
  display: block;

  width: auto;
  height: auto;
  background: #999999;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

button.control_prev:hover, button.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

button.control_prev {
    padding: 15px 15px 15px 35px;
    left: -30px;
 }

button.control_next {
    padding: 15px 35px 15px 15px;
    right: -30px;
 }

 .laser-grey {
    button.control_prev, button.control_next {
        top: 120px;
    }
    button {
        border: 4px solid #fff;
    }
 }
