// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-Light.otf") format("opentype");
font-weight: 100;
font-style: normal;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-LightItalic.otf") format("opentype");
font-weight: 100;
font-style: italic;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-RegItalic.otf") format("opentype");
font-weight: 200;
font-style: italic;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-SemiboldItalic.otf") format("opentype");
font-weight: 300;
font-style: italic;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-BoldItalic.otf") format("opentype");
font-weight: 400;
font-style: italic;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-BoldIt.otf") format("opentype");
font-weight: 400;
font-style: italic;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-Extrabold.otf") format("opentype");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: ProximaNova;
src: url("../fonts/ProximaNova-Black.otf") format("opentype");
font-weight: 600;
font-style: normal;
}
