/**
 * Basic typography style for copy text
 */
body {
   font-family: $text-font-stack;
   font-size: $normal-font-size;
   font-weight: 200;
}

h1 {
    margin: 0px;
    text-indent: -20px;
    font-size: $huge-font-size;
    font-weight: 100;
    line-height: 64px;
    @media screen and (max-width: 768px) {
        font-size: $big-font-size;
        padding: 15px;
        text-indent: -5px;
        line-height: 40px;
    }
    strong {
        font-weight: 400;
    }
    &.white {
        color: $light-text-color;
    }
}

h2 {
    margin: 0px;
    font-size: $huge-font-size;
    color: $dark-headline-color;
    font-weight: 100;
    line-height: 64px;
    @media screen and (max-width: 768px) {
        font-size: $big-font-size;
        padding: 10px;
        line-height: 40px;
    }
    strong {
        font-weight: 400;
    }
    &.light {
        color: $mid-headline-color;
    }
}

.author {
    padding-top: 10px;
    font-weight: 300;
    font-size: $normal-font-size;
    color: $light-text-color;
    @media screen and (max-width: 768px) {
        padding-left: 10px;
    }
}

h3 {
    font-weight:300;
    font-size: $normal-font-size;
    color: $dark-headline-color;
    line-height: 18px;
    @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
    }
}

h4 {
    font-weight: 100;
    font-size: $big-font-size;
    line-height: 42px;
    strong {
        font-weight: 300;
    }
    @media screen and (max-width: 768px) {
        font-size: 25px;
        line-height: 32px;
    }
}

p {
    font-weight:100;
    font-size: $normal-font-size;
    color: $dark-text-color;
    line-height: 22px;
    @media screen and (max-width: 768px) {
        font-size: 19px;
        line-height: 28px;
    }
}
